# Karyalay Mail — infrastructure executor API (Repo 4 → Repo 3)
#
# HAND-AUTHORED, unlike the other four documents in this directory. Those are
# generated by tools/derive/gen_openapi.py from karyalay-mail's Appendix C.
# These six operations have no Appendix C rows: they are Repo 4's Appendix AI
# deltas AI-04..AI-09, and Repo 3's Appendix AB requires them to be "proposed as
# OpenAPI/JSON Schema, reviewed against Master/Repo owner, assigned version,
# then implemented on both sides". This file is that proposal, accepted.
#
# Authorised by ADR-INF-038 (karyalay-mail-infra, ACCEPTED 2026-08-24), which is
# the allow-list extension ADR-KEM-009 item 3 required and nobody had raised.
# Published in v0.5.0 with actions/action-envelope-v1.schema.json (AI-12), which
# ADR-KEM-009 sequences first: "Defining four action executors before their
# shared envelope would produce four incompatible action shapes."
#
# THE PROPERTY THIS DOCUMENT EXISTS TO GUARANTEE: there is no command field
# anywhere in it. Every operation selects from a closed enum — three migration
# steps, four queue actions, four restore modes, seven health components, three
# maintenance steps. A caller chooses among things Repo 3 knows how to do; it
# never describes one. That is what "no generic remote shell" means expressed in
# schema rather than prose, and it is checkable by counting enum members.

openapi: 3.1.0
info:
  title: "Karyalay Mail — infrastructure executor API"
  version: 0.7.0
  summary: "The six typed, allow-listed executors Repo 4 calls on Repo 3 (Appendix AI AI-04..AI-09)."
  description: "The six typed, allow-listed executors Repo 4 calls on Repo 3.\n\n**Source:** karyalay-mail-ops repository-spec-v1.0 Appendix AI rows AI-04..AI-09 and AI-12; karyalay-mail-infra §29, §34, §58, §67, §72 and Appendix AB.\n**Authorised by:** karyalay-mail-infra ADR-INF-038 (ACCEPTED 2026-08-24) and karyalay-mail-contracts ADR-KEM-012.\n**Audience:** karyalay-mail-ops service identities only. Not a public route, not reachable from Repo 1 or Repo 2.\n\n**The allow-list is closed.** Six operations, no seventh, and no field on any of them carries a command, a path, a query, a script or a byte payload. Growing the list is a new ADR under Appendix AB's delta rule; adding a `command` field is refused outright.\n\n**Mutations carry the AI-12 envelope; reads do not.** Forcing a reason code on a health check trains people to type a placeholder, and a field that is usually a placeholder is worthless where it matters. AI-05 is the one operation whose classification is per REQUEST rather than per operation: `INSPECT` is a read, and `HOLD`/`RELEASE`/`RETRY` are mutations.\n\nConventions (Repo 1 §26, Master §20): snake_case JSON; RFC 3339 UTC timestamps; `X-Request-ID` accepted or generated and echoed; W3C `traceparent` propagated; `application/problem+json` errors carrying a stable `code` from errors/error-catalog-v1.yaml."
  license:
    name: "Proprietary — Karyalay"
    identifier: LicenseRef-Karyalay-Proprietary
  x-karyalay-contract: karyalay-mail-contracts
  x-karyalay-contract-version: 0.7.0
  x-karyalay-hand-authored: true

servers:
  - url: https://infra.mail.karyalay.in
    description: Production. Reachable only over the §12 management tunnel.

security:
  - serviceMtls: []
    serviceToken: []

tags:
  - name: Migration
    description: "AI-04. Dovecot migration primitives, without generic doveadm."
  - name: Queue
    description: "AI-05. Queue summary, item metadata and scoped hold/release/retry (§72)."
  - name: Restore
    description: "AI-06. Recovery-point staging, verification and import (§58)."
  - name: Health
    description: "AI-07. Read-only component health for Ops diagnostics (§67)."
  - name: Backup catalog
    description: "AI-08. Recovery points and restore-verification results (§58)."
  - name: Maintenance
    description: "AI-09. Drain, restart, validate."

paths:
  /infra/v1/migration/execute:
    post:
      operationId: executeMigrationStep
      summary: Run one migration step against one mailbox.
      description: "Run one migration step against one mailbox, using Dovecot migration primitives.\n\n**Delta:** Appendix AI AI-04. **Kind:** mutation — the AI-12 envelope is required.\n\n**The absence of a command field is the whole interface.** `step` is an enum of three, so the caller chooses among things Repo 3 knows how to do rather than describing one. AI-04's row asks for exactly this: \"discovery/sync/verify using Dovecot migration primitives **without exposing generic Doveadm**\". A doveadm passthrough would satisfy every functional requirement here and defeat the appendix.\n\n**Idempotency:** replaying the same `idempotency_key` returns the first outcome. A `SYNC` that ran once does not run twice."
      tags: [Migration]
      x-karyalay-catalog-id: AI-04
      x-karyalay-mutating: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [envelope, migration_id, item_id, mailbox_id, step, pass]
              additionalProperties: false
              properties:
                envelope:
                  $ref: "#/components/schemas/ActionEnvelope"
                migration_id:
                  type: string
                  format: uuid
                  description: "The migration this step belongs to (UUIDv7, minted by Ops)."
                item_id:
                  type: string
                  format: uuid
                  description: "The per-mailbox work item (UUIDv7, minted by Ops)."
                mailbox_id:
                  type: string
                  format: uuid
                  description: "karyalay-mail's mailbox identifier, copied exactly and never remapped (Repo 4 §7)."
                step:
                  type: string
                  enum: [DISCOVER, SYNC, VERIFY]
                  description: "DISCOVER enumerates the source; SYNC copies; VERIFY compares. Three verbs, chosen from, never described."
                pass:
                  type: string
                  enum: [INITIAL, INCREMENTAL, FINAL]
                  description: "Which pass this is. FINAL is the cutover pass and is the only one that may run with the source quiesced."
      responses:
        "202": { $ref: "#/components/responses/Accepted" }
        "400": { $ref: "#/components/responses/E400" }
        "401": { $ref: "#/components/responses/E401" }
        "403": { $ref: "#/components/responses/E403" }
        "409": { $ref: "#/components/responses/E409" }
        "412": { $ref: "#/components/responses/E412" }
        "422": { $ref: "#/components/responses/E422" }
        "429": { $ref: "#/components/responses/E429" }
        "500": { $ref: "#/components/responses/E500" }
        "503": { $ref: "#/components/responses/E503" }

  /infra/v1/queue/diagnostics:
    post:
      operationId: queueDiagnostics
      summary: Inspect the queue, or hold, release or retry one item.
      description: "Inspect the queue, or hold, release or retry a single queue item (§72).\n\n**Delta:** Appendix AI AI-05. **Kind:** depends on `action` — see below.\n\n**THIS IS THE ONE OPERATION WHOSE MUTABILITY IS PER REQUEST.** `INSPECT` is a read and takes no envelope. `HOLD`, `RELEASE` and `RETRY` change state and require the full AI-12 envelope; the schema enforces it with `if`/`then` rather than leaving it to either implementation. Classifying the whole operation as a read — which Repo 4's own client did until 2026-08-24, because it keyed mutability on the method — lets a queue hold happen with no `action_id` and no reason code.\n\n**A hold must name one item.** `HOLD`/`RELEASE`/`RETRY` require `scope: ITEM` and an `item_id`. A hold that names no item is an outage requested by an operator who meant to pause one message, and there is deliberately no way to express it here."
      tags: [Queue]
      x-karyalay-catalog-id: AI-05
      x-karyalay-mutating: conditional
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [node_id, scope, action]
              additionalProperties: false
              properties:
                envelope:
                  $ref: "#/components/schemas/ActionEnvelope"
                node_id:
                  type: string
                  format: uuid
                  description: "The mail node whose queue is addressed."
                scope:
                  type: string
                  enum: [SUMMARY, ITEM]
                  description: "SUMMARY returns aggregate counts and age distribution; ITEM returns metadata for one queue entry."
                item_id:
                  type: string
                  pattern: "^[A-Za-z0-9_-]{1,64}$"
                  maxLength: 64
                  description: "Postfix's own queue identifier, echoed back. Deliberately narrow: no spaces, quotes, slashes or dots, so it cannot become a path or an argument list however it is interpolated at the far end."
                action:
                  type: string
                  enum: [INSPECT, HOLD, RELEASE, RETRY]
                  description: "INSPECT reads. HOLD suspends one item, RELEASE resumes it, RETRY re-attempts delivery now."
              allOf:
                - if:
                    properties: { scope: { const: ITEM } }
                    required: [scope]
                  then:
                    required: [item_id]
                - if:
                    not:
                      properties: { action: { const: INSPECT } }
                      required: [action]
                  then:
                    required: [envelope, item_id]
                    properties:
                      scope: { const: ITEM }
      responses:
        "200": { $ref: "#/components/responses/QueueResult" }
        "202": { $ref: "#/components/responses/Accepted" }
        "400": { $ref: "#/components/responses/E400" }
        "401": { $ref: "#/components/responses/E401" }
        "403": { $ref: "#/components/responses/E403" }
        "409": { $ref: "#/components/responses/E409" }
        "412": { $ref: "#/components/responses/E412" }
        "422": { $ref: "#/components/responses/E422" }
        "429": { $ref: "#/components/responses/E429" }
        "500": { $ref: "#/components/responses/E500" }
        "503": { $ref: "#/components/responses/E503" }

  /infra/v1/restore/execute:
    post:
      operationId: executeRestore
      summary: Stage, verify, import or replace from a recovery point.
      description: "Stage a recovery point, verify a staged one, import it as a recovery folder, or replace the mailbox from it (§58).\n\n**Delta:** Appendix AI AI-06. **Kind:** mutation — the AI-12 envelope is required.\n\n**`REPLACE` is separated from the other three on purpose.** `STAGE`, `VERIFY_STAGED` and `IMPORT_RECOVERY_FOLDER` are additive: the mailbox keeps everything it had. `REPLACE` is the only mode that can destroy mail the customer received *after* the recovery point, so it carries `x-karyalay-elevated-approval` and the envelope's `actor_type` must be `human`. A service identity cannot request it.\n\nThat rule is in the schema rather than in a runbook because a runbook is consulted by people who already know to be careful."
      tags: [Restore]
      x-karyalay-catalog-id: AI-06
      x-karyalay-mutating: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [envelope, restore_id, mailbox_id, recovery_point, mode]
              additionalProperties: false
              properties:
                envelope:
                  $ref: "#/components/schemas/ActionEnvelope"
                restore_id:
                  type: string
                  format: uuid
                  description: "The restore this step belongs to (UUIDv7, minted by Ops)."
                mailbox_id:
                  type: string
                  format: uuid
                  description: "karyalay-mail's mailbox identifier, copied exactly."
                recovery_point:
                  type: string
                  pattern: "^[A-Za-z0-9_-]{1,64}$"
                  maxLength: 64
                  description: "An opaque recovery-point identifier from the AI-08 catalog. Never a path, a snapshot name or a date the far side would have to parse."
                mode:
                  type: string
                  enum: [STAGE, VERIFY_STAGED, IMPORT_RECOVERY_FOLDER, REPLACE]
                  description: "STAGE materialises the recovery point without touching the mailbox. VERIFY_STAGED checks it. IMPORT_RECOVERY_FOLDER adds it as a folder. REPLACE overwrites the mailbox."
              allOf:
                - if:
                    properties: { mode: { const: REPLACE } }
                    required: [mode]
                  then:
                    properties:
                      envelope:
                        properties:
                          actor_type: { const: human }
                        required: [actor_type]
                    x-karyalay-elevated-approval: true
      responses:
        "202": { $ref: "#/components/responses/Accepted" }
        "400": { $ref: "#/components/responses/E400" }
        "401": { $ref: "#/components/responses/E401" }
        "403": { $ref: "#/components/responses/E403" }
        "409": { $ref: "#/components/responses/E409" }
        "412": { $ref: "#/components/responses/E412" }
        "422": { $ref: "#/components/responses/E422" }
        "429": { $ref: "#/components/responses/E429" }
        "500": { $ref: "#/components/responses/E500" }
        "503": { $ref: "#/components/responses/E503" }

  /infra/v1/health/{component}:
    get:
      operationId: readComponentHealth
      summary: Read one infrastructure component's health.
      description: "Read the health of one infrastructure component on one node (§67).\n\n**Delta:** Appendix AI AI-07. **Kind:** read — no envelope, and there is no field on this operation that could ask for a change.\n\nAI-07's disposition in ADR-KEM-009 was \"partially confirmable\": §67 already requires all of these as *metrics*, and Ops consumed those in the interim. Metrics are sufficient for dashboards and alerting and insufficient for a synchronous diagnostic call — an operator asking \"is fencing healthy right now\" cannot wait for a scrape interval. This is that call."
      tags: [Health]
      x-karyalay-catalog-id: AI-07
      x-karyalay-mutating: false
      parameters:
        - name: component
          in: path
          required: true
          description: "Which component to read."
          schema:
            type: string
            enum: [SHARD, DRBD, FENCING, GALERA, NATS, OPENBAO, BACKUP]
        - name: node_id
          in: query
          required: true
          description: "The node to read it on."
          schema:
            type: string
            format: uuid
      responses:
        "200": { $ref: "#/components/responses/HealthResult" }
        "400": { $ref: "#/components/responses/E400" }
        "401": { $ref: "#/components/responses/E401" }
        "403": { $ref: "#/components/responses/E403" }
        "422": { $ref: "#/components/responses/E422" }
        "429": { $ref: "#/components/responses/E429" }
        "500": { $ref: "#/components/responses/E500" }
        "503": { $ref: "#/components/responses/E503" }

  /infra/v1/backup/catalog:
    get:
      operationId: readBackupCatalog
      summary: List recovery points and their verification results.
      description: "List recovery points for a component on a node, with the result of the last restore verification for each (§58).\n\n**Delta:** Appendix AI AI-08. **Kind:** read — no envelope.\n\nAI-08 was split by ADR-KEM-009: the **event** half already existed (Repo 4 consumes `infra.v1.backup.*`), and the **query** half did not. This is the query half. Events tell Ops that something changed; this tells it what is currently restorable, which is the question a recoverability ledger has to answer on demand rather than by replaying history.\n\n**A recovery point that has never been verified is reported as such**, and is never omitted. Omitting it would make an unverified backup indistinguishable from no backup, and the two call for opposite responses."
      tags: [Backup catalog]
      x-karyalay-catalog-id: AI-08
      x-karyalay-mutating: false
      parameters:
        - name: component
          in: query
          required: true
          schema:
            type: string
            enum: [SHARD, DRBD, FENCING, GALERA, NATS, OPENBAO, BACKUP]
        - name: node_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: since
          in: query
          required: false
          description: "Only recovery points at or after this instant. Absent means the whole retained window."
          schema:
            type: string
            format: date-time
        - name: cursor
          in: query
          required: false
          description: "Opaque continuation cursor. Pages are bounded; there is no fetch-all."
          schema:
            type: string
            maxLength: 512
      responses:
        "200": { $ref: "#/components/responses/BackupCatalogResult" }
        "400": { $ref: "#/components/responses/E400" }
        "401": { $ref: "#/components/responses/E401" }
        "403": { $ref: "#/components/responses/E403" }
        "422": { $ref: "#/components/responses/E422" }
        "429": { $ref: "#/components/responses/E429" }
        "500": { $ref: "#/components/responses/E500" }
        "503": { $ref: "#/components/responses/E503" }

  /infra/v1/maintenance/action:
    post:
      operationId: executeMaintenanceAction
      summary: Drain, restart or validate a node.
      description: "Drain, restart or validate one node.\n\n**Delta:** Appendix AI AI-09. **Kind:** mutation — the AI-12 envelope is required.\n\nThree verbs, chosen from, never described. AI-09's row asks for \"drain/restart/validate with `action_id`/preconditions\", and the precondition is the part that matters: without it two operators working from different views of the world both succeed, and the second one restarts a node the first had already drained for a reason.\n\n**DRAIN is reversible and RESTART is not**, within the window that matters to a delivery in flight. Both take the same envelope; the difference is that `ttl_seconds` is meaningful on a drain and is what stops a node staying drained because the incident ended and nobody remembered."
      tags: [Maintenance]
      x-karyalay-catalog-id: AI-09
      x-karyalay-mutating: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [envelope, node_id, step]
              additionalProperties: false
              properties:
                envelope:
                  $ref: "#/components/schemas/ActionEnvelope"
                node_id:
                  type: string
                  format: uuid
                step:
                  type: string
                  enum: [DRAIN, RESTART, VALIDATE]
                  description: "DRAIN stops new work reaching the node. RESTART cycles its services. VALIDATE runs the node's own health assertions and changes nothing."
      responses:
        "202": { $ref: "#/components/responses/Accepted" }
        "400": { $ref: "#/components/responses/E400" }
        "401": { $ref: "#/components/responses/E401" }
        "403": { $ref: "#/components/responses/E403" }
        "409": { $ref: "#/components/responses/E409" }
        "412": { $ref: "#/components/responses/E412" }
        "422": { $ref: "#/components/responses/E422" }
        "429": { $ref: "#/components/responses/E429" }
        "500": { $ref: "#/components/responses/E500" }
        "503": { $ref: "#/components/responses/E503" }

components:
  securitySchemes:
    serviceMtls:
      type: mutualTLS
      description: "Mutually authenticated TLS between named service identities (Master §9.6). The Ops service identity is the only one admitted."
    serviceToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Short-lived scoped workload token. `karyalay_principal_type` is `service_identity` (auth/claims-v1.yaml). A user access token is rejected regardless of its scopes: these operations are not reachable by a person's credential."

  headers:
    RequestId:
      description: "Echo of the request's `X-Request-ID`, or one generated if absent."
      schema:
        type: string
        maxLength: 128

  schemas:
    ActionEnvelope:
      # INLINED, not $ref'd out to actions/action-envelope-v1.schema.json.
      # An OpenAPI document in this repository must resolve every $ref
      # locally -- a consumer vendoring one file and not the other would
      # otherwise get a document it cannot validate against. The copy is kept
      # honest by a harness check that compares it field for field with the
      # schema file and fails on any drift, so there is one definition and one
      # transcription, never two definitions.
      title: Karyalay canonical action envelope v1
      description: The envelope every cross-repository MUTATION carries, from Repo 4 Appendix AI row AI-12 and
        its worked example AP.1. Frozen here so the four action executors (AI-04, AI-05, AI-06, AI-09) share
        one shape instead of inventing four. Reads deliberately do NOT carry it.
      $comment: 'AI-12 is sequenced ahead of AI-04/05/06/09 by ADR-KEM-009: ''Defining four action executors
        before their shared envelope would produce four incompatible action shapes.'' Published in v0.5.0 alongside
        openapi/infra-executor-api-v1.yaml, which references it rather than restating it. Repo 4''s internal/infraclient/envelope.go
        is the implementation this was reconciled against, field for field.'
      type: object
      required:
      - action_id
      - idempotency_key
      - action_type
      - actor_id
      - actor_type
      - reason_code
      - precondition
      additionalProperties: false
      properties:
        action_id:
          type: string
          format: uuid
          description: UUIDv7 minted by the requesting service, stable across retries of the same logical action.
            It is the join key an operator follows from the request to the audit row to the observed outcome.
          $comment: 'v7 rather than v4: the timestamp prefix keeps action rows at the right edge of their primary-key
            index, and a v4 here means something minted an identifier outside the service''s own factory.'
        idempotency_key:
          type: string
          pattern: ^[A-Za-z0-9._~-]{1,128}$
          maxLength: 128
          description: Deduplication key. Replaying the same key with the same body returns the first outcome
            rather than acting twice.
          $comment: RFC 3986 UNRESERVED CHARACTERS ONLY, and this pattern is the one field shape that could
            not be lifted from an existing schema. operations-api-v1.yaml published maxLength with no pattern
            while karyalay-mail §34.1 rejects everything outside this class -- and rejects it by answering IDEMPOTENCY_KEY_REQUIRED,
            i.e. reporting a MISSING header to a caller that plainly sent one. Appendix AP.1's own example key,
            'case:...:mailbox-lock:v1', contains colons and is refused. Publishing the pattern here is what
            stops a client following the spec from failing every request permanently for a reason the response
            misdescribes. Colons are excluded deliberately, so a key that looks like a path or a URN is not
            treated as one by the next tool that reads it.
        action_type:
          type: string
          pattern: ^[A-Z][A-Z0-9_]{0,63}$
          maxLength: 64
          description: What is being requested, as a catalog code rather than free text. AP.1's `action_type`.
        actor_id:
          type: string
          minLength: 1
          maxLength: 128
          description: 'The principal on whose authority the action is taken: an operator subject or a service
            identity.'
        actor_type:
          type: string
          enum:
          - human
          - service
          description: Whether the actor is a person or a service.
          $comment: 'An enum and not a free string, because two rules depend on telling them apart and neither
            is expressible if a caller can set this to ''system'': service identities are strictly narrower
            (Repo 4 §9), and a service may not supply a four-eyes approval (AE #19).'
        reason_code:
          type: string
          pattern: ^[A-Z][A-Z0-9_]{0,63}$
          maxLength: 64
          description: Why the action is being requested, from the requesting service's reason catalog.
          $comment: Required on every mutation with no exception. A mutation with no reason is one nobody can
            explain afterwards, which is precisely what the audit trail exists to prevent -- so it is refused
            at the envelope rather than discovered during an incident review.
        evidence_refs:
          type: array
          description: Opaque references to evidence objects supporting the request.
          maxItems: 32
          items:
            type: string
            pattern: ^(ev_[0-9a-zA-Z]{1,64}|ops-evidence://[0-9a-f-]{36})$
            maxLength: 96
          $comment: Bounded to two known shapes rather than left as a string. An unbounded ref is a place to
            hide a path or a URL that something downstream might fetch, and an evidence reference is exactly
            the field an attacker would choose for that.
        precondition:
          type: object
          description: The version of the world the caller believes it is acting on.
          $comment: Required, not optional. Without it a request cannot be refused as stale, and two operators
            working from different views of the world both succeed -- which is OPS-BND-002's precondition rule
            and the defect T00.07b found unenforceable on C.101/C.102, where neither ETag nor If-Match is defined.
            At least one of the two fields must be present.
          additionalProperties: false
          anyOf:
          - required:
            - observed_generation
          - required:
            - resource_version
          properties:
            observed_generation:
              type: integer
              minimum: 1
              description: The desired-state generation the caller observed. Compared against the current generation;
                a lower value is stale.
            resource_version:
              type: string
              maxLength: 128
              description: Opaque version token for resources that carry one instead of a generation.
        ttl_seconds:
          type: integer
          minimum: 1
          maximum: 2592000
          description: How long the effect stands before it lapses or must be reviewed. AP.1's `ttl_seconds`.
          $comment: Capped at 30 days, which is Repo 4 §27's review deadline expressed as a number. An effect
            that outlives anybody's memory of asking for it is indistinguishable from a permanent change. Optional
            because not every action has a meaningful expiry -- a restore does not -- while the reversible restriction
            actions §27 requires one for must set it.
        trace_id:
          type: string
          maxLength: 64
          description: W3C trace correlation, carried through to the far side's logs and events.

    ObservedState:
      type: object
      title: Observed state
      description: 'AI-12''s ''result/observed state'' half: what the far side reports the world looks like
        now. Returned on SUCCESS and on CONFLICT.'
      $comment: 'Returned on conflict too, and that is the point of it. A 409 carrying no observed state leaves
        the caller with only its own stale view to retry against, which is how a reconcile-before-retry loop
        becomes an infinite one (AE #238: ''409 -> refresh observed state''). Repo 4''s client treats a conflict
        without observed state as unusable rather than retryable.'
      required:
      - state
      additionalProperties: false
      properties:
        generation:
          type: integer
          minimum: 0
          description: The generation now in effect.
        resource_version:
          type: string
          maxLength: 128
          description: The version token now in effect.
        state:
          type: string
          pattern: ^[A-Z][A-Z0-9_]{0,63}$
          maxLength: 64
          description: The resource's state, as the far side names it.

    ValidationError:
      type: object
      description: "One structured, bounded validation failure."
      required: [field, code]
      additionalProperties: false
      properties:
        field:
          type: string
          maxLength: 128
        code:
          type: string
          pattern: "^[A-Z][A-Z0-9_]{0,63}$"
        detail:
          type: string
          maxLength: 512
          description: "Operator-safe. Never a path, a stack trace, an internal address or a command."

  responses:
    Accepted:
      description: "Accepted. The action is durable and will be carried out; `observed_state` reports the world as it stands now."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            type: object
            required: [action_id, accepted_at, observed_state]
            additionalProperties: false
            properties:
              action_id:
                type: string
                format: uuid
                description: "Echo of the envelope's `action_id`, so the caller can correlate without parsing its own request back."
              accepted_at:
                type: string
                format: date-time
              observed_state:
                $ref: "#/components/schemas/ObservedState"

    QueueResult:
      description: "Queue summary or one item's metadata."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            type: object
            required: [node_id, scope]
            additionalProperties: false
            properties:
              node_id: { type: string, format: uuid }
              scope:
                type: string
                enum: [SUMMARY, ITEM]
              summary:
                type: object
                description: "Present when scope is SUMMARY."
                additionalProperties: false
                properties:
                  total: { type: integer, minimum: 0 }
                  deferred: { type: integer, minimum: 0 }
                  held: { type: integer, minimum: 0 }
                  oldest_age_seconds:
                    type: integer
                    minimum: 0
                    description: "Age of the oldest item. The number that distinguishes a busy hour from a stall — a queue of ten thousand fresh items is the former and one item from an hour ago is the latter, and only age can tell them apart."
              item:
                type: object
                description: "Present when scope is ITEM. Metadata only: there is no message body, no headers and no recipient list here."
                additionalProperties: false
                properties:
                  item_id: { type: string, maxLength: 64 }
                  state:
                    type: string
                    enum: [ACTIVE, DEFERRED, HOLD]
                  age_seconds: { type: integer, minimum: 0 }
                  attempts: { type: integer, minimum: 0 }
                  last_error_code:
                    type: string
                    pattern: "^[A-Z][A-Z0-9_]{0,63}$"
                    description: "A code, not the remote server's text. A bounce message pasted through here would carry recipient addresses into Ops' logs."

    HealthResult:
      description: "One component's health on one node."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            type: object
            required: [component, node_id, status, observed_at]
            additionalProperties: false
            properties:
              component:
                type: string
                enum: [SHARD, DRBD, FENCING, GALERA, NATS, OPENBAO, BACKUP]
              node_id: { type: string, format: uuid }
              status:
                type: string
                enum: [HEALTHY, DEGRADED, UNHEALTHY, UNKNOWN]
                description: "UNKNOWN is a real answer and never collapsed into UNHEALTHY. 'I cannot tell' and 'it is broken' call for different responses, and merging them is how a monitoring outage becomes a fencing decision."
              observed_at:
                type: string
                format: date-time
                description: "When the far side observed this, not when it answered. A cached reading presented as fresh is worse than a slow one."
              detail:
                type: object
                description: "Bounded component-specific facts. Never a log line, never a command output."
                additionalProperties:
                  type: [string, number, boolean]
                maxProperties: 24

    BackupCatalogResult:
      description: "A bounded page of recovery points."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            type: object
            required: [component, node_id, recovery_points]
            additionalProperties: false
            properties:
              component:
                type: string
                enum: [SHARD, DRBD, FENCING, GALERA, NATS, OPENBAO, BACKUP]
              node_id: { type: string, format: uuid }
              next_cursor:
                type: string
                maxLength: 512
                description: "Absent when the page is the last one."
              recovery_points:
                type: array
                maxItems: 200
                items:
                  type: object
                  required: [recovery_point, taken_at, verification]
                  additionalProperties: false
                  properties:
                    recovery_point:
                      type: string
                      pattern: "^[A-Za-z0-9_-]{1,64}$"
                      description: "The opaque identifier AI-06 takes."
                    taken_at: { type: string, format: date-time }
                    size_bytes: { type: integer, minimum: 0 }
                    verification:
                      type: object
                      required: [status]
                      additionalProperties: false
                      properties:
                        status:
                          type: string
                          enum: [VERIFIED, FAILED, NEVER_VERIFIED]
                          description: "NEVER_VERIFIED is reported explicitly and the recovery point is never omitted for it. An unverified backup and no backup are different situations calling for opposite responses, and omission makes them identical."
                        verified_at: { type: string, format: date-time }
                        detail: { type: string, maxLength: 512 }

    E400:
      description: "Malformed request, or a required envelope field is missing."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 400. `code` is narrowed to the catalog codes these six operations can raise."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 400
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 400.
                enum:
                  - IDEMPOTENCY_KEY_REQUIRED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  $ref: "#/components/schemas/ValidationError"
              observed_state:
                $ref: "#/components/schemas/ObservedState"
    E401:
      description: "AUTH_REQUIRED or AUTH_INVALID_TOKEN."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 401. `code` is narrowed to the catalog codes these six operations can raise."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 401
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 401.
                enum:
                  - AUTH_INVALID_TOKEN
                  - AUTH_REQUIRED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  $ref: "#/components/schemas/ValidationError"
              observed_state:
                $ref: "#/components/schemas/ObservedState"
    E403:
      description: "AUTHZ_FORBIDDEN. Includes a service identity attempting a REPLACE restore, which requires a human actor."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 403. `code` is narrowed to the catalog codes these six operations can raise."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 403
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 403.
                enum:
                  - AUTHZ_FORBIDDEN
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  $ref: "#/components/schemas/ValidationError"
              observed_state:
                $ref: "#/components/schemas/ObservedState"
    E409:
      description: "State conflict, or IDEMPOTENCY_IN_PROGRESS. `observed_state` is REQUIRED on a state conflict -- a 409 carrying none leaves the caller only its own stale view to retry against, which is how reconcile-before-retry becomes an infinite loop (AE #238)."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 409. `code` is narrowed to the catalog codes these six operations can raise."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 409
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 409.
                enum:
                  - IDEMPOTENCY_IN_PROGRESS
                  - IDEMPOTENCY_KEY_REUSED
                  - MAILBOX_NOT_ACTIVE
                  - PROVISIONING_IN_PROGRESS
                  - PROVISIONING_STALE_OBSERVATION
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  $ref: "#/components/schemas/ValidationError"
              observed_state:
                $ref: "#/components/schemas/ObservedState"
    E412:
      description: "VERSION_CONFLICT -- the envelope's precondition does not match. `observed_state` carries the current version."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 412. `code` is narrowed to the catalog codes these six operations can raise."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 412
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 412.
                enum:
                  - VERSION_CONFLICT
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  $ref: "#/components/schemas/ValidationError"
              observed_state:
                $ref: "#/components/schemas/ObservedState"
    E422:
      description: "VALIDATION_FAILED -- structured, bounded field errors."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 422. `code` is narrowed to the catalog codes these six operations can raise."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 422
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 422.
                enum:
                  - VALIDATION_FAILED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  $ref: "#/components/schemas/ValidationError"
              observed_state:
                $ref: "#/components/schemas/ObservedState"
    E429:
      description: "RATE_LIMIT_EXCEEDED."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 429. `code` is narrowed to the catalog codes these six operations can raise."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 429
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 429.
                enum:
                  - RATE_LIMIT_EXCEEDED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  $ref: "#/components/schemas/ValidationError"
              observed_state:
                $ref: "#/components/schemas/ObservedState"
    E500:
      description: "INTERNAL_ERROR -- safe generic detail only."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 500. `code` is narrowed to the catalog codes these six operations can raise."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 500
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 500.
                enum:
                  - INTERNAL_ERROR
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  $ref: "#/components/schemas/ValidationError"
              observed_state:
                $ref: "#/components/schemas/ObservedState"
    E503:
      description: "DEPENDENCY_UNAVAILABLE."
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 503. `code` is narrowed to the catalog codes these six operations can raise."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 503
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 503.
                enum:
                  - DEPENDENCY_UNAVAILABLE
                  - MAIL_STORAGE_UNAVAILABLE
                  - PROVISIONING_FAILED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  $ref: "#/components/schemas/ValidationError"
              observed_state:
                $ref: "#/components/schemas/ObservedState"
