# Karyalay Mail — internal provisioning API
#
# GENERATED by tools/derive/gen_openapi.py. Do not hand-edit.
# Operations transcribed from karyalay-mail repository-spec-v1.0 Appendix C.
# Error responses generated from errors/error-catalog-v1.yaml.
# Filename fixed by Master Contract §0.3.

openapi: 3.1.0
info:
  title: "Karyalay Mail — internal provisioning API"
  version: 0.4.0
  summary: "The desired-state and observation exchange with karyalay-mail-infra, plus service liveness, readiness and version."
  description: "The desired-state and observation exchange with karyalay-mail-infra, plus service liveness, readiness and version.\n\n**Source:** karyalay-mail repository-spec-v1.0 §29, Appendix C.97-C.100 and C.105-C.107; karyalay-mail-infra §48-§51.\n**Audience:** karyalay-mail-infra service identities. Not a public route; a user access token with the wrong audience or client is rejected (Repo 1 §29.2).\n\nAppendix C is exhaustive by invariant: no undocumented route may be exposed in production. Operation count in this document is 7 and every operation carries `x-karyalay-catalog-id`, so the reconciliation against the appendix is mechanical.\n\nConventions (Repo 1 §26, Master §20): base path `/api/v1` or `/internal/v1`; snake_case JSON; RFC 3339 UTC timestamps; opaque cursor pagination; `X-Request-ID` accepted or generated and echoed; W3C `traceparent` propagated; `Idempotency-Key` on documented replay-sensitive operations; ETag/`If-Match` on documented versioned updates; `application/problem+json` errors carrying a stable `code`."
  license:
    name: "Proprietary — Karyalay"
    identifier: LicenseRef-Karyalay-Proprietary
  x-karyalay-contract: karyalay-mail-contracts
  x-karyalay-contract-version: 0.4.0
servers:
  - url: https://internal.mail.karyalay.in
    description: Production.
security:
  - serviceMtls: []
    serviceToken: []
tags:
  - name: Desired state
    description: "Desired-state exchange and observation reporting with Infra (Repo 1 §29)."
  - name: Provisioning operations
    description: "Typed provisioning operation lifecycle (Repo 1 §29, §33.5)."
  - name: Service
    description: "Liveness, readiness and build identity (Repo 1 §50)."
paths:
  "/internal/v1/resources/{type}/{id}/observations":
    post:
      operationId: reportResourceObservation
      summary: Record authenticated observed generation/status from Infra.
      description: "Record authenticated observed generation/status from Infra.\n\n**Catalog:** Appendix C C.97. **Permission:** `api_service`.\n\n**Notes:** mTLS/service auth; strict schema; monotonic/freshness rules.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Desired state
      x-karyalay-catalog-id: C.97
      x-karyalay-permission: api_service
      parameters:
        - name: type
          in: path
          required: true
          description: "Resource type (Repo 1 Appendix A.31 `resource_type`)."
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: Resource identifier.
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ObservationReport"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ObservationAccepted"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/internal/v1/resources/{type}/{id}/desired-state":
    get:
      operationId: getResourceDesiredState
      summary: Return typed desired state for Infra reconciliation.
      description: "Return typed desired state for Infra reconciliation.\n\n**Catalog:** Appendix C C.98. **Permission:** `api_service`.\n\n**Notes:** Service identity + resource scope.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Desired state
      x-karyalay-catalog-id: C.98
      x-karyalay-permission: api_service
      parameters:
        - name: type
          in: path
          required: true
          description: "Resource type (Repo 1 Appendix A.31 `resource_type`)."
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: Resource identifier.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DesiredState"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/internal/v1/provisioning/{operation}/started":
    post:
      operationId: reportProvisioningStarted
      summary: Acknowledge provisioning operation start.
      description: "Acknowledge provisioning operation start.\n\n**Catalog:** Appendix C C.99. **Permission:** `api_service`.\n\n**Notes:** Idempotent operation transition.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Provisioning operations
      x-karyalay-catalog-id: C.99
      x-karyalay-permission: api_service
      parameters:
        - name: operation
          in: path
          required: true
          description: Provisioning operation identifier.
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProvisioningStarted"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProvisioningOperation"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/internal/v1/provisioning/{operation}/result":
    post:
      operationId: reportProvisioningResult
      summary: Record success/retryable/final failure result.
      description: "Record success/retryable/final failure result.\n\n**Catalog:** Appendix C C.100. **Permission:** `api_service`.\n\n**Notes:** Generation and idempotency validation mandatory.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Provisioning operations
      x-karyalay-catalog-id: C.100
      x-karyalay-permission: api_service
      parameters:
        - name: operation
          in: path
          required: true
          description: Provisioning operation identifier.
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          description: "Required by this operation's Appendix C card. Caller scope plus key maps to one request fingerprint and outcome for the retention window; the same key with a different canonical request is IDEMPOTENCY_KEY_REUSED (Master §20.5, §24.3, Repo 1 §34.1)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProvisioningResult"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProvisioningOperation"
        "400":
          "$ref": "#/components/responses/E400"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/internal/v1/health/live":
    get:
      operationId: getLiveness
      summary: Process liveness.
      description: "Process liveness.\n\n**Catalog:** Appendix C C.105. **Permission:** `api_service`.\n\n**Notes:** No dependencies; not public internet.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded.\n\n**Auth:** unauthenticated within the internal network boundary; never routed from the public internet (C.105 notes)."
      tags:
        - Service
      x-karyalay-catalog-id: C.105
      x-karyalay-permission: api_service
      security: []
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HealthStatus"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/internal/v1/health/ready":
    get:
      operationId: getReadiness
      summary: Readiness with critical dependency checks.
      description: "Readiness with critical dependency checks.\n\n**Catalog:** Appendix C C.106. **Permission:** `api_service`.\n\n**Notes:** Short bounded timeout; safe diagnostics.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded.\n\n**Auth:** unauthenticated within the internal network boundary; never routed from the public internet (C.105 notes)."
      tags:
        - Service
      x-karyalay-catalog-id: C.106
      x-karyalay-permission: api_service
      security: []
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HealthStatus"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/internal/v1/version":
    get:
      operationId: getVersion
      summary: Build/version/contract compatibility metadata.
      description: "Build/version/contract compatibility metadata.\n\n**Catalog:** Appendix C C.107. **Permission:** `api_service`.\n\n**Notes:** No secrets/config dump.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Service
      x-karyalay-catalog-id: C.107
      x-karyalay-permission: api_service
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VersionInfo"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
components:
  schemas:
    ValidationError:
      type: object
      description: "One structured, bounded validation error (Repo 1 §26.1 `errors[]`)."
      properties:
        field:
          type: string
          description: JSON Pointer to the offending member.
        code:
          type: string
          pattern: "^[A-Z][A-Z0-9_]*$"
        detail:
          type: string
          maxLength: 512
      required:
        - field
        - code
      "$comment": "Source: Repo 1 §26.1."
    VersionInfo:
      type: object
      description: "Build identity. No secrets or configuration dump (C.107 notes)."
      properties:
        service:
          type: string
        version:
          type: string
        commit:
          type: string
        built_at:
          type: string
          format: date-time
        contract_version:
          type: string
          description: The karyalay-mail-contracts tag this build validates against.
      required:
        - service
        - version
        - contract_version
      "$comment": "Source: Repo 1 §50, §44."
    HealthStatus:
      type: object
      description: "Liveness or readiness. Not exposed to the public internet (C.105 notes)."
      properties:
        status:
          type: string
          enum:
            - ok
            - degraded
            - unavailable
        checks:
          type: array
          items:
            type: object
            description: One dependency check.
            properties:
              name:
                type: string
              status:
                type: string
                enum:
                  - ok
                  - degraded
                  - unavailable
              duration_ms:
                type: number
                minimum: 0
            required:
              - name
              - status
          description: "Present on readiness only. Safe diagnostics under a short bounded timeout (C.106 notes)."
      required:
        - status
      "$comment": "Source: Repo 1 §50."
    ProvisioningOperation:
      type: object
      description: A typed provisioning operation and its lifecycle state.
      properties:
        operation_id:
          type: string
          format: uuid
        organisation_id:
          type: string
          format: uuid
        resource_type:
          type: string
          enum:
            - DOMAIN
            - MAILBOX
            - DKIM
            - FILTER
            - QUOTA
            - PLACEMENT
        resource_id:
          type: string
          format: uuid
        operation_type:
          type: string
          maxLength: 48
        generation:
          type: integer
          minimum: 0
        state:
          type: string
          enum:
            - REQUESTED
            - DISPATCH_PENDING
            - IN_PROGRESS
            - SUCCEEDED
            - RETRYABLE_FAILURE
            - FAILED_ACTION_REQUIRED
            - CANCELLED
        attempt_count:
          type: integer
          minimum: 0
        next_attempt_at:
          oneOf:
            - type: string
              format: date-time
            - type: "null"
        last_error_code:
          oneOf:
            - type: string
              pattern: "^[A-Z][A-Z0-9_]*$"
            - type: "null"
      required:
        - operation_id
        - organisation_id
        - resource_type
        - resource_id
        - operation_type
        - generation
        - state
      "$comment": "Source: Repo 1 Appendix A.31 provisioning_operations; §33.5. Withheld: idempotency_key — a replay-detection input, echoed to nobody."
    ProvisioningResult:
      type: object
      description: "Report a terminal operation outcome. Generation and idempotency validation are mandatory (C.100 notes)."
      properties:
        generation:
          type: integer
          minimum: 0
        outcome:
          type: string
          enum:
            - SUCCEEDED
            - RETRYABLE_FAILURE
            - FAILED_ACTION_REQUIRED
        error_code:
          oneOf:
            - type: string
              pattern: "^[A-Z][A-Z0-9_]*$"
            - type: "null"
        details:
          type: object
          description: "Safe bounded diagnostics only (Repo 1 §29.2)."
        finished_at:
          type: string
          format: date-time
        source_service:
          type: string
          maxLength: 64
      required:
        - generation
        - outcome
        - finished_at
        - source_service
      "$comment": "Source: Repo 1 §29.2, §29.3."
    ProvisioningStarted:
      type: object
      description: "Report that an operation has begun. The transition is idempotent (C.99 notes)."
      properties:
        generation:
          type: integer
          minimum: 0
        started_at:
          type: string
          format: date-time
        source_service:
          type: string
          maxLength: 64
      required:
        - generation
        - started_at
        - source_service
      "$comment": "Source: Repo 1 §29."
    DesiredState:
      type: object
      description: "The desired-state document Infra reconciles toward. The control plane may not send arbitrary config fragments or shell commands (Repo 1 §12.2). Unified shape per ADR-KEM-008."
      properties:
        schema_version:
          type: integer
          minimum: 1
          description: "Envelope version. Repo 3 §49: an unknown schema version is nonretryable until code upgrade, and the controller MUST NOT guess."
        resource_type:
          "$ref": "#/components/schemas/DesiredStateResourceType"
        resource_id:
          type: string
          format: uuid
        organisation_id:
          type: string
          format: uuid
        desired_generation:
          type: integer
          minimum: 0
        desired_status:
          type: string
          pattern: "^[A-Z][A-Z0-9_]*$"
          maxLength: 40
          description: "Target lifecycle state for this resource. The vocabulary is per resource type and is Repo 1's Appendix A lifecycle column for that resource (for example A.14 mailboxes REQUESTED/CONFIGURING/ACTIVE/RESTRICTED/SUSPENDED/PROVISIONING_FAILED/DELETION_PENDING/RECOVERY_WINDOW/DELETED). Neither Repo 3 Appendix O.1 nor Appendix Q fixes a single cross-type enum — Appendix Q says \"ACTIVE/RESTRICTED/DELETING etc mapped from desired state\" — so this is constrained by grammar, not enumerated. See ADR-KEM-008 Amendment 1 open item 2."
        dependencies:
          type: array
          maxItems: 32
          items:
            "$ref": "#/components/schemas/ResourceDependency"
          description: "Prerequisites that must have converged to at least min_generation before this resource is exposed (Repo 3 §49)."
        spec:
          "$ref": "#/components/schemas/DesiredStateSpec"
        correlation:
          type: object
          description: "Correlation for the reconciliation attempt. Master §30 requires the correlation to survive this hop; Repo 3 §49 omits it, and ADR-KEM-008 decision 6 keeps Repo 1's."
          properties:
            operation_id:
              type: string
              format: uuid
            trace_id:
              type: string
              pattern: "^[0-9a-f]{32}$"
          required:
            - operation_id
      required:
        - schema_version
        - resource_type
        - resource_id
        - organisation_id
        - desired_generation
        - desired_status
        - spec
        - correlation
      "$comment": "Source: Repo 1 §12.2 unified with Repo 3 §49 / Appendix O.1 per ADR-KEM-008."
    DesiredStateSpec:
      type: object
      description: "Typed resource fields, nested per Repo 3 Appendix O.1 (ADR-KEM-008 decision 5). Type-specific identity keys live here; the envelope carries only the uniform resource_id. Fields present depend on resource_type; Repo 3 Appendix O.1 tabulates the minimum set each kind requires."
      properties:
        domain_id:
          oneOf:
            - type: string
              format: uuid
            - type: "null"
          description: "Parent domain. Repo 3 Appendix O.1 requires it in the mailbox, alias and group spec."
        mailbox_id:
          oneOf:
            - type: string
              format: uuid
            - type: "null"
          description: "Repo 1 §12.2's type-specific key, relocated here by ADR-KEM-008 decision 2."
        storage_key:
          oneOf:
            - type: string
              pattern: "^[A-Za-z0-9._-]+$"
              maxLength: 128
            - type: "null"
          description: "Opaque. Repo 3 Appendix O.2: cannot contain '/', '..', NUL or shell metacharacter semantics."
        primary_address:
          oneOf:
            - type: string
              format: idn-email
            - type: "null"
        quota_bytes:
          oneOf:
            - type: integer
              minimum: 0
            - type: "null"
          description: "Nonnegative and bounded by infrastructure maximum (Repo 3 Appendix O.2)."
        auth_state:
          type: string
          enum:
            - enabled
            - disabled
        receive_state:
          type: string
          enum:
            - enabled
            - disabled
        send_state:
          type: string
          enum:
            - enabled
            - disabled
        filter_generation:
          oneOf:
            - type: integer
              minimum: 0
            - type: "null"
      "$comment": "Source: Repo 1 §12.2 typed fields, nested per Repo 3 Appendix O.1."
    ResourceDependency:
      type: object
      description: "A prerequisite this resource must not be exposed ahead of. Repo 3 §49: dependency generations \"prevent exposing a mailbox before domain/routing/key prerequisites have converged\"."
      properties:
        resource_type:
          "$ref": "#/components/schemas/DesiredStateResourceType"
        resource_id:
          type: string
          format: uuid
        min_generation:
          type: integer
          minimum: 0
      required:
        - resource_type
        - resource_id
        - min_generation
      "$comment": "Source: Repo 3 §49 / Appendix O.1 dependencies[]; adopted by ADR-KEM-008 decision 4."
    DesiredStateResourceType:
      type: string
      description: "Resource kinds carried by this exchange. Repo 3 Appendix O.1 spells the eight it materializes; Repo 1 Appendix A.31 spells seven it dispatches. ADR-KEM-008 Amendment 1 unifies them on Repo 3's spelling where the two name the same concept (dkim_key, filter_set) and keeps the two Repo 1 kinds Repo 3 has no materialization row for."
      enum:
        - organisation
        - domain
        - mailbox
        - alias
        - group
        - quota
        - filter_set
        - restriction
        - dkim_key
        - placement
      "$comment": "Source: Repo 3 Appendix O.1 resource_type union Repo 1 Appendix A.31 resource_type. organisation and placement are Repo 1-only and carry no Repo 3 Appendix O.1 materialization row — see ADR-KEM-008 Amendment 1 open item 1."
    ObservationAccepted:
      type: object
      description: "Acknowledgement of an observation, including whether it superseded the stored one."
      properties:
        accepted:
          type: boolean
        stored_generation:
          type: integer
          minimum: 0
        note:
          type: string
          description: "Why a stale or observed-ahead report was not stored. §29.3 treats observed-ahead as a security/consistency alert, never a silent accept."
      required:
        - accepted
        - stored_generation
      "$comment": "Source: Repo 1 §29.3."
    ObservationReport:
      type: object
      description: "An observation of real infrastructure state, reported by a service identity. Unified shape per ADR-KEM-008."
      properties:
        schema_version:
          type: integer
          minimum: 1
          description: "Envelope version (Repo 3 Appendix P.1)."
        desired_generation:
          type: integer
          minimum: 0
        observed_generation:
          type: integer
          minimum: 0
        readiness:
          type: string
          enum:
            - PENDING
            - READY
            - DEGRADED
            - FAILED
            - RESTRICTED
            - DELETING
            - ABSENT
          description: "Repo 3 §50's six readiness values plus Repo 1 Appendix A.32's ABSENT (ADR-KEM-008 decision 7). ABSENT means observed to not exist and is not a synonym for PENDING: a resource never created and one mid-convergence require different operator responses."
        checksum:
          oneOf:
            - type: string
              pattern: "^sha256:[0-9a-f]{64}$"
            - type: "null"
          description: "Checksum of the active generated state. Repo 3 §50 names checksum difference as one of its two drift triggers; Repo 1 Appendix A.32 had no column for it (ADR-KEM-008 decision 8)."
        details:
          type: object
          description: "Safe bounded diagnostics. No raw daemon configuration or secrets (Repo 1 §29.2). Carries Repo 3 Appendix P.1 component statuses."
        source_service:
          type: string
          maxLength: 64
          description: Observer. Carries Repo 3 Appendix P.1 controller_instance.
        observed_at:
          type: string
          format: date-time
      required:
        - schema_version
        - desired_generation
        - observed_generation
        - readiness
        - source_service
        - observed_at
      "$comment": "Source: Repo 1 Appendix A.32 / §29.1-§29.3 unified with Repo 3 §50 / Appendix P.1 per ADR-KEM-008."
  headers:
    RequestId:
      description: "Echo of the accepted or generated `X-Request-ID` (Repo 1 §26, Master §20.7)."
      schema:
        type: string
        maxLength: 128
    RetryAfter:
      description: "Delay before retrying, for codes in the RETRY_AFTER class (Repo 1 §39)."
      schema:
        type: integer
        minimum: 0
    ETag:
      description: "Optimistic concurrency token. Supply it as `If-Match` on the next update (Master §20.6)."
      schema:
        type: string
  responses:
    E503:
      description: "DEPENDENCY_UNAVAILABLE — Required external/internal dependency unavailable. (RETRYABLE_BACKOFF)\nDKIM_ROTATION_FAILED — Rotation needs intervention. (OPERATOR_ATTENTION)\nDNS_RESOLUTION_TEMPORARY_FAILURE — Resolver/network temporary failure. (RETRYABLE_BACKOFF)\nMAIL_STORAGE_UNAVAILABLE — Mailbox backend unavailable. (RETRYABLE_BACKOFF)\nPROVISIONING_FAILED — Provisioning failure needs action. (OPERATOR_ATTENTION)\nSEARCH_UNAVAILABLE — Search/FTS dependency unavailable. (RETRYABLE_BACKOFF)\nSUBMISSION_TEMPORARY_FAILURE — SMTP did not accept; safe retry with same idempotency key. (RETRYABLE_BACKOFF)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 503. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 503
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 503.
                enum:
                  - DEPENDENCY_UNAVAILABLE
                  - DKIM_ROTATION_FAILED
                  - DNS_RESOLUTION_TEMPORARY_FAILURE
                  - MAIL_STORAGE_UNAVAILABLE
                  - PROVISIONING_FAILED
                  - SEARCH_UNAVAILABLE
                  - SUBMISSION_TEMPORARY_FAILURE
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E500:
      description: "INTERNAL_ERROR — Unexpected internal error; safe generic detail only. (OPERATOR_ATTENTION)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 500. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 500
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 500.
                enum:
                  - INTERNAL_ERROR
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E429:
      description: "RATE_LIMIT_EXCEEDED — Rate policy exceeded. (RETRY_AFTER)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
        Retry-After:
          "$ref": "#/components/headers/RetryAfter"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 429. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 429
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 429.
                enum:
                  - RATE_LIMIT_EXCEEDED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E404:
      description: "ALIAS_NOT_FOUND — Alias not found. (NON_RETRYABLE)\nAPP_PASSWORD_NOT_FOUND — Credential not found. (NON_RETRYABLE)\nATTACHMENT_NOT_FOUND — Staged/MIME attachment not found. (NON_RETRYABLE)\nAUTHZ_RESOURCE_NOT_VISIBLE — Use to avoid resource-existence leakage across tenant/security boundary. (NON_RETRYABLE)\nFOLDER_NOT_FOUND — Folder not found/stale ref. (NON_RETRYABLE)\nGROUP_NOT_FOUND — Group not found. (NON_RETRYABLE)\nMAILBOX_NOT_FOUND — Mailbox not visible/found. (NON_RETRYABLE)\nMAIL_DOMAIN_NOT_FOUND — Domain resource not visible/found. (NON_RETRYABLE)\nMESSAGE_NOT_FOUND — Message not found. (NON_RETRYABLE)\nORGANISATION_NOT_FOUND — Organisation not visible/found. (NON_RETRYABLE)\nSESSION_NOT_FOUND — Session not found. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 404. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 404
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 404.
                enum:
                  - ALIAS_NOT_FOUND
                  - APP_PASSWORD_NOT_FOUND
                  - ATTACHMENT_NOT_FOUND
                  - AUTHZ_RESOURCE_NOT_VISIBLE
                  - FOLDER_NOT_FOUND
                  - GROUP_NOT_FOUND
                  - MAILBOX_NOT_FOUND
                  - MAIL_DOMAIN_NOT_FOUND
                  - MESSAGE_NOT_FOUND
                  - ORGANISATION_NOT_FOUND
                  - SESSION_NOT_FOUND
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E403:
      description: "ABUSE_RESTRICTED — Abuse/security restriction effective. (NON_RETRYABLE)\nAPP_PASSWORD_NOT_ALLOWED — Policy disallows app passwords. (NON_RETRYABLE)\nAUTHZ_FORBIDDEN — Principal known but action not permitted. (NON_RETRYABLE)\nENTITLEMENT_FEATURE_DISABLED — Feature not entitled. (NON_RETRYABLE)\nFORWARDING_NOT_ALLOWED — External/any forwarding disallowed by policy. (NON_RETRYABLE)\nMAILBOX_RESTRICTED — Effective restriction blocks action. (NON_RETRYABLE)\nMAILBOX_SUSPENDED — Mailbox suspended. (NON_RETRYABLE)\nSUBMISSION_SENDER_NOT_AUTHORIZED — From identity not authorized for mailbox/principal. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 403. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 403
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 403.
                enum:
                  - ABUSE_RESTRICTED
                  - APP_PASSWORD_NOT_ALLOWED
                  - AUTHZ_FORBIDDEN
                  - ENTITLEMENT_FEATURE_DISABLED
                  - FORWARDING_NOT_ALLOWED
                  - MAILBOX_RESTRICTED
                  - MAILBOX_SUSPENDED
                  - SUBMISSION_SENDER_NOT_AUTHORIZED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E401:
      description: "AUTH_INVALID_TOKEN — Token invalid/expired/not for this audience. (AUTH_REFRESH)\nAUTH_MFA_REQUIRED — Policy requires MFA assurance. (NON_RETRYABLE)\nAUTH_REAUTH_REQUIRED — Sensitive action requires fresh authentication. (NON_RETRYABLE)\nAUTH_REQUIRED — No authenticated principal. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 401. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 401
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 401.
                enum:
                  - AUTH_INVALID_TOKEN
                  - AUTH_MFA_REQUIRED
                  - AUTH_REAUTH_REQUIRED
                  - AUTH_REQUIRED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E422:
      description: "ADDRESS_INVALID — Address invalid or unsupported. (NON_RETRYABLE)\nALIAS_LOOP_DETECTED — Alias/group graph would loop. (NON_RETRYABLE)\nATTACHMENT_BLOCKED — Security/content policy blocked upload. (NON_RETRYABLE)\nFILTER_RULE_INVALID — Structured rule invalid/unsupported. (NON_RETRYABLE)\nGROUP_EXPANSION_LIMIT — Group maximum/nested expansion policy exceeded. (NON_RETRYABLE)\nMAIL_DOMAIN_INVALID — Domain syntax/IDNA/policy invalid. (NON_RETRYABLE)\nMESSAGE_BATCH_LIMIT — Too many messages in one mutation. (NON_RETRYABLE)\nSEARCH_QUERY_INVALID — Search grammar/term invalid. (NON_RETRYABLE)\nSUBMISSION_RECIPIENT_LIMIT — Recipient count exceeds policy. (NON_RETRYABLE)\nSUBMISSION_REJECTED — Submission rejected before acceptance. (NON_RETRYABLE)\nVACATION_RANGE_INVALID — Invalid responder period. (NON_RETRYABLE)\nVALIDATION_FAILED — Structured validation errors. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 422. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 422
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 422.
                enum:
                  - ADDRESS_INVALID
                  - ALIAS_LOOP_DETECTED
                  - ATTACHMENT_BLOCKED
                  - FILTER_RULE_INVALID
                  - GROUP_EXPANSION_LIMIT
                  - MAIL_DOMAIN_INVALID
                  - MESSAGE_BATCH_LIMIT
                  - SEARCH_QUERY_INVALID
                  - SUBMISSION_RECIPIENT_LIMIT
                  - SUBMISSION_REJECTED
                  - VACATION_RANGE_INVALID
                  - VALIDATION_FAILED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E415:
      description: "UNSUPPORTED_MEDIA_TYPE — Unsupported body media type. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 415. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 415
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 415.
                enum:
                  - UNSUPPORTED_MEDIA_TYPE
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E413:
      description: "MESSAGE_TOO_LARGE — Message exceeds limit. (NON_RETRYABLE)\nREQUEST_TOO_LARGE — HTTP body too large. (NON_RETRYABLE)\nSUBMISSION_MESSAGE_TOO_LARGE — Built message exceeds size policy. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 413. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 413
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 413.
                enum:
                  - MESSAGE_TOO_LARGE
                  - REQUEST_TOO_LARGE
                  - SUBMISSION_MESSAGE_TOO_LARGE
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E409:
      description: "ADDRESS_ALREADY_IN_USE — Canonical address registry collision. (NON_RETRYABLE)\nAPP_PASSWORD_LIMIT_EXCEEDED — Credential count limit. (NON_RETRYABLE)\nDKIM_KEY_NOT_READY — Key exists but publication/infra not ready. (RETRY_AFTER)\nDKIM_KEY_REVOKED — Revoked key cannot be activated/reused. (NON_RETRYABLE)\nDKIM_ROTATION_IN_PROGRESS — Rotation already active. (RETRY_AFTER)\nDNS_REQUIREMENT_NOT_MET — Required DNS readiness gate is unmet. (NON_RETRYABLE)\nDOMAIN_VERIFICATION_PENDING — Challenge exists but no valid observation yet. (RETRY_AFTER)\nENTITLEMENT_LIMIT_EXCEEDED — Plan/resource limit exceeded. (NON_RETRYABLE)\nFILTER_INSTALLATION_PENDING — Desired filter not observed installed. (RETRY_AFTER)\nFOLDER_PROTECTED — Operation forbidden for protected/special-use folder. (NON_RETRYABLE)\nFORWARDING_TARGET_UNVERIFIED — External target needs verification. (NON_RETRYABLE)\nIDEMPOTENCY_IN_PROGRESS — Original request still executing. (RETRY_AFTER)\nIDEMPOTENCY_KEY_REUSED — Same key used for different canonical request. (NON_RETRYABLE)\nMAILBOX_ALREADY_EXISTS — Primary address/resource conflicts. (NON_RETRYABLE)\nMAILBOX_NOT_ACTIVE — Mailbox state blocks operation. (NON_RETRYABLE)\nMAILBOX_OVER_ENTITLEMENT — Requested quota/mailbox count exceeds entitlement. (NON_RETRYABLE)\nMAIL_DOMAIN_ALREADY_HOSTED — Canonical domain already reserved/hosted. (NON_RETRYABLE)\nMAIL_DOMAIN_NOT_ACTIVE — Domain state blocks operation. (NON_RETRYABLE)\nMAIL_DOMAIN_NOT_VERIFIED — Ownership not verified. (NON_RETRYABLE)\nMESSAGE_REFERENCE_STALE — UIDVALIDITY/folder generation makes opaque message reference stale. (NON_RETRYABLE)\nORGANISATION_NOT_ACTIVE — Organisation state blocks operation. (NON_RETRYABLE)\nPROVISIONING_IN_PROGRESS — Resource generation not yet ready. (RETRY_AFTER)\nPROVISIONING_STALE_OBSERVATION — Observation older than desired/current generation. (NON_RETRYABLE)\nSUBMISSION_ALREADY_ACCEPTED — Same logical send already accepted; return existing record where API semantics permit. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 409. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 409
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 409.
                enum:
                  - ADDRESS_ALREADY_IN_USE
                  - APP_PASSWORD_LIMIT_EXCEEDED
                  - DKIM_KEY_NOT_READY
                  - DKIM_KEY_REVOKED
                  - DKIM_ROTATION_IN_PROGRESS
                  - DNS_REQUIREMENT_NOT_MET
                  - DOMAIN_VERIFICATION_PENDING
                  - ENTITLEMENT_LIMIT_EXCEEDED
                  - FILTER_INSTALLATION_PENDING
                  - FOLDER_PROTECTED
                  - FORWARDING_TARGET_UNVERIFIED
                  - IDEMPOTENCY_IN_PROGRESS
                  - IDEMPOTENCY_KEY_REUSED
                  - MAILBOX_ALREADY_EXISTS
                  - MAILBOX_NOT_ACTIVE
                  - MAILBOX_OVER_ENTITLEMENT
                  - MAIL_DOMAIN_ALREADY_HOSTED
                  - MAIL_DOMAIN_NOT_ACTIVE
                  - MAIL_DOMAIN_NOT_VERIFIED
                  - MESSAGE_REFERENCE_STALE
                  - ORGANISATION_NOT_ACTIVE
                  - PROVISIONING_IN_PROGRESS
                  - PROVISIONING_STALE_OBSERVATION
                  - SUBMISSION_ALREADY_ACCEPTED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E400:
      description: "IDEMPOTENCY_KEY_REQUIRED — Key required for endpoint. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 400. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 400
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 400.
                enum:
                  - IDEMPOTENCY_KEY_REQUIRED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
  securitySchemes:
    serviceMtls:
      type: mutualTLS
      description: "Mutually authenticated TLS between named service identities (Master §9.6, Repo 1 §29.2)."
    serviceToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Short-lived scoped workload token. `karyalay_principal_type` is `service_identity` and the token states audience and scopes (auth/claims-v1.yaml, Master §9.6). A user access token with the wrong audience or client is rejected (Repo 1 §29.2)."
