# Karyalay Mail — mailbox-user API
#
# GENERATED by tools/derive/gen_openapi.py. Do not hand-edit.
# Operations transcribed from karyalay-mail repository-spec-v1.0 Appendix C.
# Error responses generated from errors/error-catalog-v1.yaml.
# Filename fixed by Master Contract §0.3.

openapi: 3.1.0
info:
  title: "Karyalay Mail — mailbox-user API"
  version: 0.4.0
  summary: "The mailbox data plane served through MailboxBackend and SubmissionGateway: folders, messages, threads, search, drafts, compose attachments and send."
  description: "The mailbox data plane served through MailboxBackend and SubmissionGateway: folders, messages, threads, search, drafts, compose attachments and send.\n\n**Source:** karyalay-mail repository-spec-v1.0 §28, Appendix C.66-C.91.\n**Audience:** Browser and mobile clients acting for a mailbox principal. Browser clients never receive Dovecot credentials and never connect directly to IMAP or Doveadm (Repo 1 §28).\n\nAppendix C is exhaustive by invariant: no undocumented route may be exposed in production. Operation count in this document is 32 and every operation carries `x-karyalay-catalog-id`, so the reconciliation against the appendix is mechanical.\n\nConventions (Repo 1 §26, Master §20): base path `/api/v1` or `/internal/v1`; snake_case JSON; RFC 3339 UTC timestamps; opaque cursor pagination; `X-Request-ID` accepted or generated and echoed; W3C `traceparent` propagated; `Idempotency-Key` on documented replay-sensitive operations; ETag/`If-Match` on documented versioned updates; `application/problem+json` errors carrying a stable `code`."
  license:
    name: "Proprietary — Karyalay"
    identifier: LicenseRef-Karyalay-Proprietary
  x-karyalay-contract: karyalay-mail-contracts
  x-karyalay-contract-version: 0.4.0
servers:
  - url: https://api.mail.karyalay.in
    description: Production.
security:
  - oidcBearer: []
tags:
  - name: Compose
    description: "Staged compose attachments (Repo 1 §25.2)."
  - name: Contacts
    description: "Personal contacts, private to the mailbox principal (D-04, ADR-KEM-010)."
  - name: Drafts
    description: "Draft lifecycle with ETag concurrency (Repo 1 §22)."
  - name: Folders
    description: "Mailbox folders, backed by MailboxBackend (Repo 1 §20.1)."
  - name: Messages
    description: "Message retrieval, mutation and threading (Repo 1 §20, §21.1, §24)."
  - name: Search
    description: "Typed-AST mailbox search (Repo 1 §21.2)."
  - name: Send
    description: "Final SMTP submission and its accepted boundary (Repo 1 §23)."
paths:
  "/api/v1/mailboxes/{mailbox}/folders":
    get:
      operationId: listFolders
      summary: List folders with safe status counts and special-use metadata.
      description: "List folders with safe status counts and special-use metadata.\n\n**Catalog:** Appendix C C.66. **Permission:** `mail.read`.\n\n**Notes:** Backed by MailboxBackend; mailbox grant required.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Folders
      x-karyalay-catalog-id: C.66
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: "A bounded page. There is no fetch-all endpoint (Repo 1 §20.2)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - next_cursor
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Folder"
                  next_cursor:
                    "$ref": "#/components/schemas/Cursor"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    post:
      operationId: createFolder
      summary: Create user folder.
      description: "Create user folder.\n\n**Catalog:** Appendix C C.67. **Permission:** `mail.write`.\n\n**Notes:** Reserved/special folder names protected.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Folders
      x-karyalay-catalog-id: C.67
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FolderCreate"
      responses:
        "201":
          description: Created.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Folder"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/folders/{folder}":
    patch:
      operationId: updateFolder
      summary: Rename user folder.
      description: "Rename user folder.\n\n**Catalog:** Appendix C C.68. **Permission:** `mail.write`.\n\n**Notes:** ETag/precondition; protected folders cannot be renamed.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Folders
      x-karyalay-catalog-id: C.68
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: folder
          in: path
          required: true
          description: "Opaque folder reference (Repo 1 §20.1)."
          schema:
            type: string
        - name: If-Match
          in: header
          required: true
          description: "Required by this operation's Appendix C card. A stale or absent value returns VERSION_CONFLICT rather than silently overwriting (Master §20.6, §24.5)."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FolderUpdate"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Folder"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "412":
          "$ref": "#/components/responses/E412"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    delete:
      operationId: deleteFolder
      summary: Delete allowed folder.
      description: "Delete allowed folder.\n\n**Catalog:** Appendix C C.69. **Permission:** `mail.write`.\n\n**Notes:** Requires explicit behavior for contained messages; protected folders denied.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Folders
      x-karyalay-catalog-id: C.69
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: folder
          in: path
          required: true
          description: "Opaque folder reference (Repo 1 §20.1)."
          schema:
            type: string
      responses:
        "204":
          description: "Deleted. The operation is idempotent: repeating it on an already-absent resource is not an error."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/messages":
    get:
      operationId: listMessages
      summary: List message summaries in folder using opaque cursor.
      description: "List message summaries in folder using opaque cursor.\n\n**Catalog:** Appendix C C.70. **Permission:** `mail.read`.\n\n**Notes:** Folder parameter required/default inbox; bounded page size; metadata only.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Messages
      x-karyalay-catalog-id: C.70
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: folder_ref
          in: query
          required: false
          description: "Opaque folder reference. Defaults to the INBOX special-use folder (C.70 notes)."
          schema:
            type: string
        - "$ref": "#/components/parameters/Cursor"
        - "$ref": "#/components/parameters/Limit"
      responses:
        "200":
          description: "A bounded page. There is no fetch-all endpoint (Repo 1 §20.2)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - next_cursor
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/MessageSummary"
                  next_cursor:
                    "$ref": "#/components/schemas/Cursor"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/messages/{message}":
    get:
      operationId: getMessage
      summary: Return normalized message envelope/body structure metadata.
      description: "Return normalized message envelope/body structure metadata.\n\n**Catalog:** Appendix C C.71. **Permission:** `mail.read`.\n\n**Notes:** Message ref is opaque/integrity protected and UIDVALIDITY-aware.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Messages
      x-karyalay-catalog-id: C.71
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: message
          in: path
          required: true
          description: "Opaque, integrity-protected message reference (Repo 1 §20.3)."
          schema:
            type: string
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MessageView"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/messages/{message}/content":
    get:
      operationId: getMessageContent
      summary: Stream selected safe body part.
      description: "Stream selected safe body part.\n\n**Catalog:** Appendix C C.72. **Permission:** `mail.read`.\n\n**Notes:** Sanitization/render policy enforced; no buffering entire message.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Messages
      x-karyalay-catalog-id: C.72
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: message
          in: path
          required: true
          description: "Opaque, integrity-protected message reference (Repo 1 §20.3)."
          schema:
            type: string
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MessageContent"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/messages/{message}/raw":
    get:
      operationId: getMessageRaw
      summary: Stream RFC message source when feature/permission permits.
      description: "Stream RFC message source when feature/permission permits.\n\n**Catalog:** Appendix C C.73. **Permission:** `mail.read`.\n\n**Notes:** Content-Disposition attachment; strict audit/rate/size controls.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Messages
      x-karyalay-catalog-id: C.73
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: message
          in: path
          required: true
          description: "Opaque, integrity-protected message reference (Repo 1 §20.3)."
          schema:
            type: string
      responses:
        "200":
          description: "Streamed content. Bounded, with a safe filename and Content-Disposition (C.73, C.74 notes)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            Content-Disposition:
              description: "attachment, with a sanitized filename."
              schema:
                type: string
          content:
            message/rfc822:
              schema:
                type: string
                format: binary
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/messages/{message}/attachments/{part}":
    get:
      operationId: getMessageAttachment
      summary: Stream attachment part.
      description: "Stream attachment part.\n\n**Catalog:** Appendix C C.74. **Permission:** `mail.read`.\n\n**Notes:** Validates MIME part token; safe filename/content-disposition; bounded streaming.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Messages
      x-karyalay-catalog-id: C.74
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: message
          in: path
          required: true
          description: "Opaque, integrity-protected message reference (Repo 1 §20.3)."
          schema:
            type: string
        - name: part
          in: path
          required: true
          description: MIME part token within the message.
          schema:
            type: string
      responses:
        "200":
          description: "Streamed content. Bounded, with a safe filename and Content-Disposition (C.73, C.74 notes)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            Content-Disposition:
              description: "attachment, with a sanitized filename."
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/messages/flags":
    post:
      operationId: mutateMessageFlags
      summary: Bulk add/remove flags.
      description: "Bulk add/remove flags.\n\n**Catalog:** Appendix C C.75. **Permission:** `mail.write`.\n\n**Notes:** Maximum batch size; idempotent flag semantics.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Messages
      x-karyalay-catalog-id: C.75
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FlagMutationRequest"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkMutationResult"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/messages/move":
    post:
      operationId: moveMessages
      summary: Bulk move messages.
      description: "Bulk move messages.\n\n**Catalog:** Appendix C C.76. **Permission:** `mail.write`.\n\n**Notes:** Destination validated; returns per-item result if partial backend semantics unavoidable.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Messages
      x-karyalay-catalog-id: C.76
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MessageTransferRequest"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkMutationResult"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/messages/copy":
    post:
      operationId: copyMessages
      summary: Bulk copy messages.
      description: "Bulk copy messages.\n\n**Catalog:** Appendix C C.77. **Permission:** `mail.write`.\n\n**Notes:** Same batch/idempotency rules.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Messages
      x-karyalay-catalog-id: C.77
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MessageTransferRequest"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkMutationResult"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/messages/trash":
    post:
      operationId: trashMessages
      summary: Move allowed messages to Trash using product semantics.
      description: "Move allowed messages to Trash using product semantics.\n\n**Catalog:** Appendix C C.78. **Permission:** `mail.write`.\n\n**Notes:** Not immediate expunge.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Messages
      x-karyalay-catalog-id: C.78
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MessageRefBatch"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkMutationResult"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/messages/expunge":
    post:
      operationId: expungeMessages
      summary: Irreversibly expunge only according to explicit UI/action contract.
      description: "Irreversibly expunge only according to explicit UI/action contract.\n\n**Catalog:** Appendix C C.79. **Permission:** `mail.write`.\n\n**Notes:** Strong confirmation and protected policy; never implicit on ordinary delete.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Messages
      x-karyalay-catalog-id: C.79
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ExpungeRequest"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BulkMutationResult"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/threads/{thread}":
    get:
      operationId: getThread
      summary: Return computed conversation summary and message refs.
      description: "Return computed conversation summary and message refs.\n\n**Catalog:** Appendix C C.80. **Permission:** `mail.read`.\n\n**Notes:** Thread identity is application projection, not authoritative mail storage key.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Messages
      x-karyalay-catalog-id: C.80
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: thread
          in: path
          required: true
          description: Opaque thread reference.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Thread"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/search":
    get:
      operationId: searchMessages
      summary: Search mailbox using safe documented query grammar.
      description: "Search mailbox using safe documented query grammar.\n\n**Catalog:** Appendix C C.81. **Permission:** `mail.read`.\n\n**Notes:** Parses to AST; no raw backend command interpolation.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Search
      x-karyalay-catalog-id: C.81
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: q
          in: query
          required: false
          description: "Free-text filter. For search operations the value is parsed to a typed AST; raw backend syntax is never interpolated (Repo 1 §21.2)."
          schema:
            type: string
            maxLength: 512
        - name: folder_ref
          in: query
          required: false
          description: "Opaque folder reference. Defaults to the INBOX special-use folder (C.70 notes)."
          schema:
            type: string
        - "$ref": "#/components/parameters/Cursor"
        - "$ref": "#/components/parameters/Limit"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SearchResult"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/drafts":
    get:
      operationId: listDrafts
      summary: List draft summaries.
      description: "List draft summaries.\n\n**Catalog:** Appendix C C.82. **Permission:** `mail.read`.\n\n**Notes:** Drafts are stored in Dovecot Drafts folder.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Drafts
      x-karyalay-catalog-id: C.82
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - "$ref": "#/components/parameters/Cursor"
        - "$ref": "#/components/parameters/Limit"
      responses:
        "200":
          description: "A bounded page. There is no fetch-all endpoint (Repo 1 §20.2)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - next_cursor
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Draft"
                  next_cursor:
                    "$ref": "#/components/schemas/Cursor"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    post:
      operationId: createDraft
      summary: Create draft message.
      description: "Create draft message.\n\n**Catalog:** Appendix C C.83. **Permission:** `mail.write`.\n\n**Notes:** Idempotency-Key; server builds standards-compliant MIME from structured request.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Drafts
      x-karyalay-catalog-id: C.83
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          description: "Required by this operation's Appendix C card. Caller scope plus key maps to one request fingerprint and outcome for the retention window; the same key with a different canonical request is IDEMPOTENCY_KEY_REUSED (Master §20.5, §24.3, Repo 1 §34.1)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DraftWrite"
      responses:
        "201":
          description: Created.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Draft"
        "400":
          "$ref": "#/components/responses/E400"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/drafts/{draft}":
    get:
      operationId: getDraft
      summary: Read draft compose model.
      description: "Read draft compose model.\n\n**Catalog:** Appendix C C.84. **Permission:** `mail.read`.\n\n**Notes:** Opaque draft ref; returns ETag/version.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Drafts
      x-karyalay-catalog-id: C.84
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: draft
          in: path
          required: true
          description: Opaque draft reference.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Draft"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    put:
      operationId: replaceDraft
      summary: Replace/update draft safely.
      description: "Replace/update draft safely.\n\n**Catalog:** Appendix C C.85. **Permission:** `mail.write`.\n\n**Notes:** If-Match required; save-new-before-delete-old to avoid data loss.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Drafts
      x-karyalay-catalog-id: C.85
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: draft
          in: path
          required: true
          description: Opaque draft reference.
          schema:
            type: string
        - name: If-Match
          in: header
          required: true
          description: "Required by this operation's Appendix C card. A stale or absent value returns VERSION_CONFLICT rather than silently overwriting (Master §20.6, §24.5)."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DraftWrite"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Draft"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "412":
          "$ref": "#/components/responses/E412"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    delete:
      operationId: deleteDraft
      summary: Discard draft.
      description: "Discard draft.\n\n**Catalog:** Appendix C C.86. **Permission:** `mail.write`.\n\n**Notes:** Idempotent; explicit action.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Drafts
      x-karyalay-catalog-id: C.86
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: draft
          in: path
          required: true
          description: Opaque draft reference.
          schema:
            type: string
      responses:
        "204":
          description: "Deleted. The operation is idempotent: repeating it on an already-absent resource is not an error."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/compose/attachments":
    post:
      operationId: stageComposeAttachment
      summary: Create/stage compose attachment upload.
      description: "Create/stage compose attachment upload.\n\n**Catalog:** Appendix C C.87. **Permission:** `mail.write`.\n\n**Notes:** Streaming/multipart; private temp storage; TTL; scan hook.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Compose
      x-karyalay-catalog-id: C.87
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                filename:
                  type: string
                  maxLength: 255
        description: "Streamed upload to private temporary storage with a TTL and a scan hook (C.87 notes)."
      responses:
        "201":
          description: Created.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StagedAttachment"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/compose/attachments/{attachment}":
    get:
      operationId: getComposeAttachment
      summary: Read staged attachment metadata.
      description: "Read staged attachment metadata.\n\n**Catalog:** Appendix C C.88. **Permission:** `mail.write`.\n\n**Notes:** Owner/mailbox bound; never public URL.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Compose
      x-karyalay-catalog-id: C.88
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: attachment
          in: path
          required: true
          description: Staged compose attachment identifier.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: "Streamed content. Bounded, with a safe filename and Content-Disposition (C.73, C.74 notes)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            Content-Disposition:
              description: "attachment, with a sanitized filename."
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    delete:
      operationId: deleteComposeAttachment
      summary: Delete unused staged upload.
      description: "Delete unused staged upload.\n\n**Catalog:** Appendix C C.89. **Permission:** `mail.write`.\n\n**Notes:** Idempotent.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Compose
      x-karyalay-catalog-id: C.89
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: attachment
          in: path
          required: true
          description: Staged compose attachment identifier.
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: "Deleted. The operation is idempotent: repeating it on an already-absent resource is not an error."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/send":
    post:
      operationId: sendMessage
      summary: Validate and submit final message to Postfix authenticated submission.
      description: "Validate and submit final message to Postfix authenticated submission.\n\n**Catalog:** Appendix C C.90. **Permission:** `mail.send`.\n\n**Notes:** Idempotency-Key mandatory; accepted only after SMTP final 2xx; ambiguous result never auto-resends.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Send
      x-karyalay-catalog-id: C.90
      x-karyalay-permission: mail.send
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          description: "Required by this operation's Appendix C card. Caller scope plus key maps to one request fingerprint and outcome for the retention window; the same key with a different canonical request is IDEMPOTENCY_KEY_REUSED (Master §20.5, §24.3, Repo 1 §34.1)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SendRequest"
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SubmissionRecord"
        "400":
          "$ref": "#/components/responses/E400"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/submissions/{submission}":
    get:
      operationId: getSubmission
      summary: Return submission acceptance/reconciliation state.
      description: "Return submission acceptance/reconciliation state.\n\n**Catalog:** Appendix C C.91. **Permission:** `mail.send`.\n\n**Notes:** Does not claim remote delivery; only Karyalay submission boundary/status.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Send
      x-karyalay-catalog-id: C.91
      x-karyalay-permission: mail.send
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: submission
          in: path
          required: true
          description: Send submission identifier.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SubmissionRecord"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/threads":
    get:
      operationId: listMailboxThreads
      summary: List thread summaries in folder or search scope using opaque cursor.
      description: "List thread summaries in folder or search scope using opaque cursor.\n\n**Catalog:** Appendix C C.108. **Permission:** `mail.read`.\n\n**Notes:** Folder or query scope; bounded page size and bounded participant list; metadata only; thread identity is an application projection.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Messages
      x-karyalay-catalog-id: C.108
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: folder_ref
          in: query
          required: false
          description: "Opaque folder reference. Defaults to the INBOX special-use folder (C.70 notes)."
          schema:
            type: string
        - name: q
          in: query
          required: false
          description: "Free-text filter. For search operations the value is parsed to a typed AST; raw backend syntax is never interpolated (Repo 1 §21.2)."
          schema:
            type: string
            maxLength: 512
        - "$ref": "#/components/parameters/Cursor"
        - "$ref": "#/components/parameters/Limit"
      responses:
        "200":
          description: "A bounded page. There is no fetch-all endpoint (Repo 1 §20.2)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - next_cursor
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ThreadSummary"
                  next_cursor:
                    "$ref": "#/components/schemas/Cursor"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/contacts":
    get:
      operationId: listMailboxContacts
      summary: "List or search the mailbox principal's personal contacts using opaque cursor."
      description: "List or search the mailbox principal's personal contacts using opaque cursor.\n\n**Catalog:** Appendix C C.109. **Permission:** `mail.read`.\n\n**Notes:** Optional q filter; bounded page size; contacts are private to the mailbox principal, not the organisation.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Contacts
      x-karyalay-catalog-id: C.109
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: q
          in: query
          required: false
          description: "Free-text filter. For search operations the value is parsed to a typed AST; raw backend syntax is never interpolated (Repo 1 §21.2)."
          schema:
            type: string
            maxLength: 512
        - "$ref": "#/components/parameters/Cursor"
        - "$ref": "#/components/parameters/Limit"
      responses:
        "200":
          description: "A bounded page. There is no fetch-all endpoint (Repo 1 §20.2)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - next_cursor
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Contact"
                  next_cursor:
                    "$ref": "#/components/schemas/Cursor"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    post:
      operationId: createMailboxContact
      summary: Create a personal contact.
      description: "Create a personal contact.\n\n**Catalog:** Appendix C C.110. **Permission:** `mail.write`.\n\n**Notes:** Idempotency-Key required; addresses normalized and bounded.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Contacts
      x-karyalay-catalog-id: C.110
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          description: "Required by this operation's Appendix C card. Caller scope plus key maps to one request fingerprint and outcome for the retention window; the same key with a different canonical request is IDEMPOTENCY_KEY_REUSED (Master §20.5, §24.3, Repo 1 §34.1)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ContactWrite"
      responses:
        "201":
          description: Created.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Contact"
        "400":
          "$ref": "#/components/responses/E400"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/contacts/{contact}":
    get:
      operationId: getMailboxContact
      summary: Return one personal contact.
      description: "Return one personal contact.\n\n**Catalog:** Appendix C C.111. **Permission:** `mail.read`.\n\n**Notes:** Another principal's contact is not visible rather than forbidden.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Contacts
      x-karyalay-catalog-id: C.111
      x-karyalay-permission: mail.read
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: contact
          in: path
          required: true
          description: "Personal contact identifier (C.109 notes: private to the mailbox principal)."
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Contact"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    patch:
      operationId: updateMailboxContact
      summary: Update a personal contact.
      description: "Update a personal contact.\n\n**Catalog:** Appendix C C.112. **Permission:** `mail.write`.\n\n**Notes:** ETag/If-Match required; addresses normalized and bounded.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Contacts
      x-karyalay-catalog-id: C.112
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: contact
          in: path
          required: true
          description: "Personal contact identifier (C.109 notes: private to the mailbox principal)."
          schema:
            type: string
            format: uuid
        - name: If-Match
          in: header
          required: true
          description: "Required by this operation's Appendix C card. A stale or absent value returns VERSION_CONFLICT rather than silently overwriting (Master §20.6, §24.5)."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ContactWrite"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Contact"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "412":
          "$ref": "#/components/responses/E412"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    delete:
      operationId: deleteMailboxContact
      summary: Delete a personal contact.
      description: "Delete a personal contact.\n\n**Catalog:** Appendix C C.113. **Permission:** `mail.write`.\n\n**Notes:** Safe delete semantics; no content returned.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Contacts
      x-karyalay-catalog-id: C.113
      x-karyalay-permission: mail.write
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: contact
          in: path
          required: true
          description: "Personal contact identifier (C.109 notes: private to the mailbox principal)."
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: "Deleted. The operation is idempotent: repeating it on an already-absent resource is not an error."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
components:
  schemas:
    ValidationError:
      type: object
      description: "One structured, bounded validation error (Repo 1 §26.1 `errors[]`)."
      properties:
        field:
          type: string
          description: JSON Pointer to the offending member.
        code:
          type: string
          pattern: "^[A-Z][A-Z0-9_]*$"
        detail:
          type: string
          maxLength: 512
      required:
        - field
        - code
      "$comment": "Source: Repo 1 §26.1."
    Contact:
      type: object
      description: "A personal contact. Private to the mailbox principal, not shared across the organisation (D-04, ADR-KEM-010)."
      properties:
        contact_id:
          type: string
          format: uuid
        display_name:
          oneOf:
            - type: string
              maxLength: 255
            - type: "null"
        addresses:
          type: array
          items:
            "$ref": "#/components/schemas/AddressDisplay"
          minItems: 1
          maxItems: 16
          description: "Normalized addresses, hard bounded."
        organisation:
          oneOf:
            - type: string
              maxLength: 255
            - type: "null"
          description: Free-text employer or organisation label. Unrelated to the tenant organisation_id.
        notes:
          oneOf:
            - type: string
              maxLength: 2048
            - type: "null"
        version:
          type: integer
          minimum: 1
          description: "Optimistic concurrency version; surfaced as the ETag (Master §24.5)."
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - contact_id
        - addresses
        - version
        - created_at
        - updated_at
      "$comment": "Source: delta D-04 accepted by ADR-KEM-010."
    AddressDisplay:
      type: object
      description: One display address.
      properties:
        address:
          type: string
          format: idn-email
        display_name:
          oneOf:
            - type: string
            - type: "null"
      required:
        - address
      "$comment": "Source: Repo 1 §20.2."
    ContactWrite:
      type: object
      description: "Create or update a personal contact. The server normalizes addresses; the client does not choose contact_id or version."
      properties:
        display_name:
          oneOf:
            - type: string
              maxLength: 255
            - type: "null"
        addresses:
          type: array
          items:
            "$ref": "#/components/schemas/AddressDisplay"
          minItems: 1
          maxItems: 16
        organisation:
          oneOf:
            - type: string
              maxLength: 255
            - type: "null"
        notes:
          oneOf:
            - type: string
              maxLength: 2048
            - type: "null"
      required:
        - addresses
      "$comment": "Source: delta D-04 accepted by ADR-KEM-010."
    Cursor:
      type:
        - string
        - "null"
      description: "Opaque pagination cursor. Clients do not construct, parse or reorder cursors (Master §20.4, Repo 1 §26)."
    ThreadSummary:
      type: object
      description: "One thread in a folder or search scope. The list form of the C.80 projection, so a client never re-threads message pages itself (D-01, ADR-KEM-010)."
      properties:
        thread_ref:
          type: string
          description: "Opaque thread reference; the same application projection C.80 returns, not an authoritative mail storage key."
        subject:
          oneOf:
            - type: string
            - type: "null"
        participants:
          type: array
          items:
            "$ref": "#/components/schemas/AddressDisplay"
          maxItems: 32
          description: "Distinct participants, most recent first, hard bounded. An unbounded list on a long thread is payload amplification the sender controls by replying."
        message_count:
          type: integer
          minimum: 1
        unread_count:
          type: integer
          minimum: 0
        has_attachments:
          type: boolean
        latest:
          "$ref": "#/components/schemas/MessageSummary"
      required:
        - thread_ref
        - message_count
        - unread_count
        - has_attachments
        - latest
      "$comment": "Source: Repo 1 §21.1; delta D-01 accepted by ADR-KEM-010."
    MessageSummary:
      type: object
      description: "List-view message metadata. Metadata only — no body (C.70 notes)."
      properties:
        message_ref:
          type: string
          description: "Opaque and integrity protected; binds mailbox, folder, backend locator and UIDVALIDITY-equivalent (Repo 1 §20.3)."
        thread_ref:
          oneOf:
            - type: string
            - type: "null"
        from:
          "$ref": "#/components/schemas/AddressDisplay"
        to:
          type: array
          items:
            "$ref": "#/components/schemas/AddressDisplay"
        cc:
          type: array
          items:
            "$ref": "#/components/schemas/AddressDisplay"
        subject:
          oneOf:
            - type: string
            - type: "null"
        sent_at:
          oneOf:
            - type: string
              format: date-time
            - type: "null"
        internal_at:
          type: string
          format: date-time
        flags:
          type: array
          items:
            type: string
        size_bytes:
          type: integer
          minimum: 0
        has_attachments:
          type: boolean
        snippet:
          oneOf:
            - type: string
              maxLength: 512
            - type: "null"
          description: "Included only where safely available (Repo 1 §20.2)."
      required:
        - message_ref
        - from
        - internal_at
        - flags
        - size_bytes
        - has_attachments
      "$comment": "Source: Repo 1 §20.2 message summary."
    SubmissionRecord:
      type: object
      description: "The Karyalay submission boundary outcome. It does NOT claim remote delivery (C.91 notes)."
      properties:
        submission_id:
          type: string
          format: uuid
        state:
          type: string
          enum:
            - PENDING
            - ACCEPTED
            - REJECTED
            - STATUS_UNKNOWN
        smtp_queue_id:
          oneOf:
            - type: string
              maxLength: 64
            - type: "null"
        accepted_at:
          oneOf:
            - type: string
              format: date-time
            - type: "null"
        sent_copy_state:
          type: string
          maxLength: 32
        last_error_code:
          oneOf:
            - type: string
              pattern: "^[A-Z][A-Z0-9_]*$"
            - type: "null"
      required:
        - submission_id
        - state
        - sent_copy_state
      "$comment": "Source: Repo 1 Appendix A.34 send_submission_records; §23.1, §33.6. Withheld: idempotency_key and message_fingerprint — replay-detection inputs, not client-readable state."
    SendRequest:
      type: object
      description: "Final send. Idempotency-Key is mandatory (C.90 notes)."
      properties:
        draft_ref:
          type: string
          description: "Send an existing draft, or supply the structured payload instead."
        message:
          "$ref": "#/components/schemas/DraftWrite"
      "$comment": "Source: Repo 1 §23.1."
    DraftWrite:
      type: object
      description: "Structured compose payload. The server builds standards-compliant MIME from it (C.83 notes); the client never supplies raw MIME."
      properties:
        identity_id:
          type: string
          format: uuid
        to:
          type: array
          items:
            "$ref": "#/components/schemas/AddressDisplay"
        cc:
          type: array
          items:
            "$ref": "#/components/schemas/AddressDisplay"
        bcc:
          type: array
          items:
            "$ref": "#/components/schemas/AddressDisplay"
        subject:
          type: string
        body_text:
          type: string
        body_html:
          type: string
        staged_attachment_ids:
          type: array
          items:
            type: string
            format: uuid
        in_reply_to_message_ref:
          type: string
      "$comment": "Source: Repo 1 §22.2 compose payload."
    StagedAttachment:
      type: object
      description: "A staged compose attachment. Owner- and mailbox-bound; never a public URL (C.88 notes)."
      properties:
        attachment_id:
          type: string
          format: uuid
        filename_safe:
          type: string
        media_type:
          type: string
        size_bytes:
          type: integer
          minimum: 0
        content_sha256:
          type: string
          pattern: "^[0-9a-f]{64}$"
        scan_state:
          type: string
          enum:
            - PENDING
            - CLEAN
            - BLOCKED
            - ERROR
        expires_at:
          type: string
          format: date-time
      required:
        - attachment_id
        - filename_safe
        - media_type
        - size_bytes
        - scan_state
        - expires_at
      "$comment": "Source: Repo 1 Appendix A.35 staged_attachments; §25.2. Withheld: storage_ref — the internal object location."
    Draft:
      type: object
      description: "A draft. Drafts live in the backend Drafts folder (C.82 notes)."
      properties:
        draft_ref:
          type: string
          description: Opaque draft reference.
        envelope:
          "$ref": "#/components/schemas/MessageEnvelope"
        body_text:
          oneOf:
            - type: string
            - type: "null"
        body_html:
          oneOf:
            - type: string
            - type: "null"
        attachments:
          type: array
          items:
            "$ref": "#/components/schemas/AttachmentDescriptor"
        identity_id:
          oneOf:
            - type: string
              format: uuid
            - type: "null"
        updated_at:
          type: string
          format: date-time
      required:
        - draft_ref
        - envelope
        - updated_at
      "$comment": "Source: Repo 1 §22."
    AttachmentDescriptor:
      type: object
      description: An attachment descriptor. Bytes stream from the attachment endpoint.
      properties:
        part_ref:
          type: string
        filename_safe:
          type: string
          description: "Sanitised filename (Repo 1 §25.1)."
        media_type:
          type: string
        size_bytes:
          type: integer
          minimum: 0
        inline:
          type: boolean
      required:
        - part_ref
        - filename_safe
        - media_type
        - size_bytes
        - inline
      "$comment": "Source: Repo 1 §25.1."
    MessageEnvelope:
      type: object
      description: Normalised message envelope.
      properties:
        from:
          "$ref": "#/components/schemas/AddressDisplay"
        reply_to:
          type: array
          items:
            "$ref": "#/components/schemas/AddressDisplay"
        to:
          type: array
          items:
            "$ref": "#/components/schemas/AddressDisplay"
        cc:
          type: array
          items:
            "$ref": "#/components/schemas/AddressDisplay"
        bcc:
          type: array
          items:
            "$ref": "#/components/schemas/AddressDisplay"
        subject:
          oneOf:
            - type: string
            - type: "null"
        sent_at:
          oneOf:
            - type: string
              format: date-time
            - type: "null"
      required:
        - from
        - to
      "$comment": "Source: Repo 1 §20.2."
    SearchResult:
      type: object
      description: "Search results. The query is parsed to a typed AST; raw backend syntax is never interpolated (C.81 notes)."
      properties:
        messages:
          type: array
          items:
            "$ref": "#/components/schemas/MessageSummary"
        next_cursor:
          oneOf:
            - type: string
            - type: "null"
        truncated:
          type: boolean
          description: True when a result or time limit stopped the search short.
      required:
        - messages
        - next_cursor
        - truncated
      "$comment": "Source: Repo 1 §21.2."
    Thread:
      type: object
      description: "A thread projection. Thread identity is an application projection, not an authoritative mail storage key (C.80 notes)."
      properties:
        thread_ref:
          type: string
        messages:
          type: array
          items:
            "$ref": "#/components/schemas/MessageSummary"
      required:
        - thread_ref
        - messages
      "$comment": "Source: Repo 1 §21.1."
    BulkMutationResult:
      type: object
      description: "Per-item outcome. Returned per item where partial backend semantics are unavoidable (C.76 notes) — a partial failure is never reported as overall success."
      properties:
        results:
          type: array
          items:
            type: object
            description: "One item's outcome."
            properties:
              message_ref:
                type: string
              outcome:
                type: string
                enum:
                  - success
                  - failure
              code:
                oneOf:
                  - type: string
                    pattern: "^[A-Z][A-Z0-9_]*$"
                  - type: "null"
                description: A code from errors/error-catalog-v1.yaml when the item failed.
            required:
              - message_ref
              - outcome
        succeeded:
          type: integer
          minimum: 0
        failed:
          type: integer
          minimum: 0
      required:
        - results
        - succeeded
        - failed
      "$comment": "Source: Repo 1 §24, §24.1."
    ExpungeRequest:
[...]
