# Karyalay Mail — operations API
#
# GENERATED by tools/derive/gen_openapi.py. Do not hand-edit.
# Operations transcribed from karyalay-mail repository-spec-v1.0 Appendix C.
# Error responses generated from errors/error-catalog-v1.yaml.
# Filename fixed by Master Contract §0.3.

openapi: 3.1.0
info:
  title: "Karyalay Mail — operations API"
  version: 0.1.0
  summary: "The typed restriction, diagnostics and security-signal surface karyalay-mail-ops calls. Ops requests; karyalay-mail decides and applies."
  description: "The typed restriction, diagnostics and security-signal surface karyalay-mail-ops calls. Ops requests; karyalay-mail decides and applies.\n\n**Source:** karyalay-mail repository-spec-v1.0 §30, Appendix C.101-C.104; karyalay-mail-ops Appendix AI.\n**Audience:** karyalay-mail-ops service identities. Not a public route (Repo 1 §29.2).\n\nAppendix C is exhaustive by invariant: no undocumented route may be exposed in production. Operation count in this document is 4 and every operation carries `x-karyalay-catalog-id`, so the reconciliation against the appendix is mechanical.\n\nConventions (Repo 1 §26, Master §20): base path `/api/v1` or `/internal/v1`; snake_case JSON; RFC 3339 UTC timestamps; opaque cursor pagination; `X-Request-ID` accepted or generated and echoed; W3C `traceparent` propagated; `Idempotency-Key` on documented replay-sensitive operations; ETag/`If-Match` on documented versioned updates; `application/problem+json` errors carrying a stable `code`."
  license:
    name: "Proprietary — Karyalay"
    identifier: LicenseRef-Karyalay-Proprietary
  x-karyalay-contract: karyalay-mail-contracts
  x-karyalay-contract-version: 0.1.0
servers:
  - url: https://internal.mail.karyalay.in
    description: Production.
security:
  - serviceMtls: []
    serviceToken: []
tags:
  - name: Diagnostics
    description: "Bounded operational diagnostics for Ops (Repo 1 §30)."
  - name: Restrictions
    description: "Effective restrictions on a resource (Repo 1 §36)."
  - name: Security signals
    description: "Normalised security signals submitted by Ops (Repo 1 §30, §37.2)."
paths:
  "/internal/v1/ops/restrictions":
    post:
      operationId: requestRestriction
      summary: Apply typed restriction from Ops.
      description: "Apply typed restriction from Ops.\n\n**Catalog:** Appendix C C.101. **Permission:** `platform.restrict`.\n\n**Notes:** Service auth, reason, evidence/case ref, idempotency required.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Restrictions
      x-karyalay-catalog-id: C.101
      x-karyalay-permission: platform.restrict
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RestrictionRequest"
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Restriction"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/internal/v1/ops/restrictions/{restriction}":
    delete:
      operationId: clearRestriction
      summary: Clear restriction.
      description: "Clear restriction.\n\n**Catalog:** Appendix C C.102. **Permission:** `platform.restrict`.\n\n**Notes:** Audited service action; cannot clear immutable compliance hold if future profile says so.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Restrictions
      x-karyalay-catalog-id: C.102
      x-karyalay-permission: platform.restrict
      parameters:
        - name: restriction
          in: path
          required: true
          description: Restriction identifier.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Restriction"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/internal/v1/ops/resources/{type}/{id}/diagnostics":
    get:
      operationId: getResourceDiagnostics
      summary: Return bounded control-plane diagnostics for Ops.
      description: "Return bounded control-plane diagnostics for Ops.\n\n**Catalog:** Appendix C C.103. **Permission:** `platform.resource_view`.\n\n**Notes:** No message body/attachment/secrets; correlation IDs and generation status included.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Diagnostics
      x-karyalay-catalog-id: C.103
      x-karyalay-permission: platform.resource_view
      parameters:
        - name: type
          in: path
          required: true
          description: "Resource type (Repo 1 Appendix A.31 `resource_type`)."
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: Resource identifier.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResourceDiagnostics"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/internal/v1/ops/security-events":
    post:
      operationId: submitSecurityEvent
      summary: Ingest normalized security/abuse signal from Ops/other trusted service.
      description: "Ingest normalized security/abuse signal from Ops/other trusted service.\n\n**Catalog:** Appendix C C.104. **Permission:** `api_service`.\n\n**Notes:** Deduplication key required; privacy schema enforced.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Security signals
      x-karyalay-catalog-id: C.104
      x-karyalay-permission: api_service
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SecurityEventSubmission"
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SecurityEventAccepted"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
components:
  schemas:
    ValidationError:
      type: object
      description: "One structured, bounded validation error (Repo 1 §26.1 `errors[]`)."
      properties:
        field:
          type: string
          description: JSON Pointer to the offending member.
        code:
          type: string
          pattern: "^[A-Z][A-Z0-9_]*$"
        detail:
          type: string
          maxLength: 512
      required:
        - field
        - code
      "$comment": "Source: Repo 1 §26.1."
    SecurityEventAccepted:
      type: object
      description: "Acknowledgement of a submitted security signal, including whether the deduplication key collapsed it into an existing event."
      properties:
        security_event_id:
          type: string
          format: uuid
        deduplicated:
          type: boolean
        restriction_workflow_started:
          type: boolean
      required:
        - security_event_id
        - deduplicated
      "$comment": "Source: Repo 1 §30."
    SecurityEventSubmission:
      type: object
      description: "A normalised security signal from Ops. A deduplication key is required and the privacy schema is enforced (C.104 notes)."
      properties:
        dedupe_key:
          type: string
          maxLength: 128
        event_code:
          type: string
          maxLength: 64
        severity:
          type: string
          enum:
            - INFO
            - NOTICE
            - WARNING
            - ERROR
            - CRITICAL
        organisation_id:
          oneOf:
            - type: string
              format: uuid
            - type: "null"
        mailbox_id:
          oneOf:
            - type: string
              format: uuid
            - type: "null"
        identity_subject:
          oneOf:
            - type: string
              maxLength: 255
            - type: "null"
        occurred_at:
          type: string
          format: date-time
        details:
          type: object
          description: Bounded detail. No message content or secrets.
        ops_case_ref:
          type: string
          maxLength: 128
      required:
        - dedupe_key
        - event_code
        - severity
        - occurred_at
      "$comment": "Source: Repo 1 §30, §37.2; karyalay-mail-ops §11."
    ResourceDiagnostics:
      type: object
      description: "Bounded operational diagnostics. No message body, attachment or secret (C.103 notes)."
      properties:
        resource_type:
          type: string
          maxLength: 32
        resource_id:
          type: string
          format: uuid
        state:
          type: string
          maxLength: 32
        desired_generation:
          type: integer
          minimum: 0
        observed_generation:
          type: integer
          minimum: 0
        observation_status:
          type: string
          enum:
            - READY
            - DEGRADED
            - FAILED
            - ABSENT
        open_operations:
          type: array
          items:
            "$ref": "#/components/schemas/ProvisioningOperation"
        recent_error_codes:
          type: array
          items:
            type: string
            pattern: "^[A-Z][A-Z0-9_]*$"
        correlation:
          type: object
          description: "Correlation identifiers for the operator's next hop."
          properties:
            trace_id:
              type: string
              pattern: "^[0-9a-f]{32}$"
            request_id:
              type: string
              maxLength: 128
      required:
        - resource_type
        - resource_id
        - state
        - desired_generation
        - observed_generation
        - observation_status
      "$comment": "Source: Repo 1 §30."
    ProvisioningOperation:
      type: object
      description: A typed provisioning operation and its lifecycle state.
      properties:
        operation_id:
          type: string
          format: uuid
        organisation_id:
          type: string
          format: uuid
        resource_type:
          type: string
          enum:
            - DOMAIN
            - MAILBOX
            - DKIM
            - FILTER
            - QUOTA
            - PLACEMENT
        resource_id:
          type: string
          format: uuid
        operation_type:
          type: string
          maxLength: 48
        generation:
          type: integer
          minimum: 0
        state:
          type: string
          enum:
            - REQUESTED
            - DISPATCH_PENDING
            - IN_PROGRESS
            - SUCCEEDED
            - RETRYABLE_FAILURE
            - FAILED_ACTION_REQUIRED
            - CANCELLED
        attempt_count:
          type: integer
          minimum: 0
        next_attempt_at:
          oneOf:
            - type: string
              format: date-time
            - type: "null"
        last_error_code:
          oneOf:
            - type: string
              pattern: "^[A-Z][A-Z0-9_]*$"
            - type: "null"
      required:
        - operation_id
        - organisation_id
        - resource_type
        - resource_id
        - operation_type
        - generation
        - state
      "$comment": "Source: Repo 1 Appendix A.31 provisioning_operations; §33.5. Withheld: idempotency_key — a replay-detection input, echoed to nobody."
    Restriction:
      type: object
      description: "An effective restriction. Reason detail is privacy filtered (C.96 notes)."
      properties:
        restriction_id:
          type: string
          format: uuid
        resource_type:
          type: string
          enum:
            - ORGANISATION
            - DOMAIN
            - MAILBOX
        resource_id:
          type: string
          format: uuid
        restriction_code:
          type: string
          enum:
            - SEND_BLOCKED
            - SEND_RATE_REDUCED
            - AUTH_BLOCKED
            - FORWARDING_BLOCKED
            - ADMIN_CHANGES_FROZEN
        reason_code:
          type: string
          pattern: "^[A-Z][A-Z0-9_]*$"
          maxLength: 64
        source:
          type: string
          maxLength: 64
        starts_at:
          type: string
          format: date-time
        expires_at:
          oneOf:
            - type: string
              format: date-time
            - type: "null"
        cleared_at:
          oneOf:
            - type: string
              format: date-time
            - type: "null"
      required:
        - restriction_id
        - resource_type
        - resource_id
        - restriction_code
        - starts_at
      "$comment": "Source: Repo 1 Appendix A.30 restrictions; §36."
    RestrictionRequest:
      type: object
      description: "Request a typed restriction. Repo 4 requests; Repo 1 decides and applies (OPS-BND-001)."
      properties:
        resource_type:
          type: string
          enum:
            - ORGANISATION
            - DOMAIN
            - MAILBOX
        resource_id:
          type: string
          format: uuid
        restriction_code:
          type: string
          enum:
            - SEND_BLOCKED
            - SEND_RATE_REDUCED
            - AUTH_BLOCKED
            - FORWARDING_BLOCKED
            - ADMIN_CHANGES_FROZEN
        reason_code:
          type: string
          pattern: "^[A-Z][A-Z0-9_]*$"
          maxLength: 64
        case_ref:
          type: string
          maxLength: 128
          description: "Evidence or case reference. Required (C.101 notes)."
        expires_at:
          type: string
          format: date-time
      required:
        - resource_type
        - resource_id
        - restriction_code
        - reason_code
        - case_ref
      "$comment": "Source: Repo 1 §30; karyalay-mail-ops Appendix AI delta AI-01."
  headers:
    RequestId:
      description: "Echo of the accepted or generated `X-Request-ID` (Repo 1 §26, Master §20.7)."
      schema:
        type: string
        maxLength: 128
    RetryAfter:
      description: "Delay before retrying, for codes in the RETRY_AFTER class (Repo 1 §39)."
      schema:
        type: integer
        minimum: 0
    ETag:
      description: "Optimistic concurrency token. Supply it as `If-Match` on the next update (Master §20.6)."
      schema:
        type: string
  responses:
    E503:
      description: "DEPENDENCY_UNAVAILABLE — Required external/internal dependency unavailable. (RETRYABLE_BACKOFF)\nDKIM_ROTATION_FAILED — Rotation needs intervention. (OPERATOR_ATTENTION)\nDNS_RESOLUTION_TEMPORARY_FAILURE — Resolver/network temporary failure. (RETRYABLE_BACKOFF)\nMAIL_STORAGE_UNAVAILABLE — Mailbox backend unavailable. (RETRYABLE_BACKOFF)\nPROVISIONING_FAILED — Provisioning failure needs action. (OPERATOR_ATTENTION)\nSEARCH_UNAVAILABLE — Search/FTS dependency unavailable. (RETRYABLE_BACKOFF)\nSUBMISSION_TEMPORARY_FAILURE — SMTP did not accept; safe retry with same idempotency key. (RETRYABLE_BACKOFF)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 503. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 503
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 503.
                enum:
                  - DEPENDENCY_UNAVAILABLE
                  - DKIM_ROTATION_FAILED
                  - DNS_RESOLUTION_TEMPORARY_FAILURE
                  - MAIL_STORAGE_UNAVAILABLE
                  - PROVISIONING_FAILED
                  - SEARCH_UNAVAILABLE
                  - SUBMISSION_TEMPORARY_FAILURE
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E500:
      description: "INTERNAL_ERROR — Unexpected internal error; safe generic detail only. (OPERATOR_ATTENTION)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 500. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 500
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 500.
                enum:
                  - INTERNAL_ERROR
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E429:
      description: "RATE_LIMIT_EXCEEDED — Rate policy exceeded. (RETRY_AFTER)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
        Retry-After:
          "$ref": "#/components/headers/RetryAfter"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 429. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 429
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 429.
                enum:
                  - RATE_LIMIT_EXCEEDED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E422:
      description: "ADDRESS_INVALID — Address invalid or unsupported. (NON_RETRYABLE)\nALIAS_LOOP_DETECTED — Alias/group graph would loop. (NON_RETRYABLE)\nATTACHMENT_BLOCKED — Security/content policy blocked upload. (NON_RETRYABLE)\nFILTER_RULE_INVALID — Structured rule invalid/unsupported. (NON_RETRYABLE)\nGROUP_EXPANSION_LIMIT — Group maximum/nested expansion policy exceeded. (NON_RETRYABLE)\nMAIL_DOMAIN_INVALID — Domain syntax/IDNA/policy invalid. (NON_RETRYABLE)\nMESSAGE_BATCH_LIMIT — Too many messages in one mutation. (NON_RETRYABLE)\nSEARCH_QUERY_INVALID — Search grammar/term invalid. (NON_RETRYABLE)\nSUBMISSION_RECIPIENT_LIMIT — Recipient count exceeds policy. (NON_RETRYABLE)\nSUBMISSION_REJECTED — Submission rejected before acceptance. (NON_RETRYABLE)\nVACATION_RANGE_INVALID — Invalid responder period. (NON_RETRYABLE)\nVALIDATION_FAILED — Structured validation errors. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 422. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 422
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 422.
                enum:
                  - ADDRESS_INVALID
                  - ALIAS_LOOP_DETECTED
                  - ATTACHMENT_BLOCKED
                  - FILTER_RULE_INVALID
                  - GROUP_EXPANSION_LIMIT
                  - MAIL_DOMAIN_INVALID
                  - MESSAGE_BATCH_LIMIT
                  - SEARCH_QUERY_INVALID
                  - SUBMISSION_RECIPIENT_LIMIT
                  - SUBMISSION_REJECTED
                  - VACATION_RANGE_INVALID
                  - VALIDATION_FAILED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E415:
      description: "UNSUPPORTED_MEDIA_TYPE — Unsupported body media type. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 415. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 415
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 415.
                enum:
                  - UNSUPPORTED_MEDIA_TYPE
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E413:
      description: "MESSAGE_TOO_LARGE — Message exceeds limit. (NON_RETRYABLE)\nREQUEST_TOO_LARGE — HTTP body too large. (NON_RETRYABLE)\nSUBMISSION_MESSAGE_TOO_LARGE — Built message exceeds size policy. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 413. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 413
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 413.
                enum:
                  - MESSAGE_TOO_LARGE
                  - REQUEST_TOO_LARGE
                  - SUBMISSION_MESSAGE_TOO_LARGE
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E409:
      description: "ADDRESS_ALREADY_IN_USE — Canonical address registry collision. (NON_RETRYABLE)\nAPP_PASSWORD_LIMIT_EXCEEDED — Credential count limit. (NON_RETRYABLE)\nDKIM_KEY_NOT_READY — Key exists but publication/infra not ready. (RETRY_AFTER)\nDKIM_KEY_REVOKED — Revoked key cannot be activated/reused. (NON_RETRYABLE)\nDKIM_ROTATION_IN_PROGRESS — Rotation already active. (RETRY_AFTER)\nDNS_REQUIREMENT_NOT_MET — Required DNS readiness gate is unmet. (NON_RETRYABLE)\nDOMAIN_VERIFICATION_PENDING — Challenge exists but no valid observation yet. (RETRY_AFTER)\nENTITLEMENT_LIMIT_EXCEEDED — Plan/resource limit exceeded. (NON_RETRYABLE)\nFILTER_INSTALLATION_PENDING — Desired filter not observed installed. (RETRY_AFTER)\nFOLDER_PROTECTED — Operation forbidden for protected/special-use folder. (NON_RETRYABLE)\nFORWARDING_TARGET_UNVERIFIED — External target needs verification. (NON_RETRYABLE)\nIDEMPOTENCY_IN_PROGRESS — Original request still executing. (RETRY_AFTER)\nIDEMPOTENCY_KEY_REUSED — Same key used for different canonical request. (NON_RETRYABLE)\nMAILBOX_ALREADY_EXISTS — Primary address/resource conflicts. (NON_RETRYABLE)\nMAILBOX_NOT_ACTIVE — Mailbox state blocks operation. (NON_RETRYABLE)\nMAILBOX_OVER_ENTITLEMENT — Requested quota/mailbox count exceeds entitlement. (NON_RETRYABLE)\nMAIL_DOMAIN_ALREADY_HOSTED — Canonical domain already reserved/hosted. (NON_RETRYABLE)\nMAIL_DOMAIN_NOT_ACTIVE — Domain state blocks operation. (NON_RETRYABLE)\nMAIL_DOMAIN_NOT_VERIFIED — Ownership not verified. (NON_RETRYABLE)\nMESSAGE_REFERENCE_STALE — UIDVALIDITY/folder generation makes opaque message reference stale. (NON_RETRYABLE)\nORGANISATION_NOT_ACTIVE — Organisation state blocks operation. (NON_RETRYABLE)\nPROVISIONING_IN_PROGRESS — Resource generation not yet ready. (RETRY_AFTER)\nPROVISIONING_STALE_OBSERVATION — Observation older than desired/current generation. (NON_RETRYABLE)\nSUBMISSION_ALREADY_ACCEPTED — Same logical send already accepted; return existing record where API semantics permit. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 409. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 409
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 409.
                enum:
                  - ADDRESS_ALREADY_IN_USE
                  - APP_PASSWORD_LIMIT_EXCEEDED
                  - DKIM_KEY_NOT_READY
                  - DKIM_KEY_REVOKED
                  - DKIM_ROTATION_IN_PROGRESS
                  - DNS_REQUIREMENT_NOT_MET
                  - DOMAIN_VERIFICATION_PENDING
                  - ENTITLEMENT_LIMIT_EXCEEDED
                  - FILTER_INSTALLATION_PENDING
                  - FOLDER_PROTECTED
                  - FORWARDING_TARGET_UNVERIFIED
                  - IDEMPOTENCY_IN_PROGRESS
                  - IDEMPOTENCY_KEY_REUSED
                  - MAILBOX_ALREADY_EXISTS
                  - MAILBOX_NOT_ACTIVE
                  - MAILBOX_OVER_ENTITLEMENT
                  - MAIL_DOMAIN_ALREADY_HOSTED
                  - MAIL_DOMAIN_NOT_ACTIVE
                  - MAIL_DOMAIN_NOT_VERIFIED
                  - MESSAGE_REFERENCE_STALE
                  - ORGANISATION_NOT_ACTIVE
                  - PROVISIONING_IN_PROGRESS
                  - PROVISIONING_STALE_OBSERVATION
                  - SUBMISSION_ALREADY_ACCEPTED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E404:
      description: "ALIAS_NOT_FOUND — Alias not found. (NON_RETRYABLE)\nAPP_PASSWORD_NOT_FOUND — Credential not found. (NON_RETRYABLE)\nATTACHMENT_NOT_FOUND — Staged/MIME attachment not found. (NON_RETRYABLE)\nAUTHZ_RESOURCE_NOT_VISIBLE — Use to avoid resource-existence leakage across tenant/security boundary. (NON_RETRYABLE)\nFOLDER_NOT_FOUND — Folder not found/stale ref. (NON_RETRYABLE)\nGROUP_NOT_FOUND — Group not found. (NON_RETRYABLE)\nMAILBOX_NOT_FOUND — Mailbox not visible/found. (NON_RETRYABLE)\nMAIL_DOMAIN_NOT_FOUND — Domain resource not visible/found. (NON_RETRYABLE)\nMESSAGE_NOT_FOUND — Message not found. (NON_RETRYABLE)\nORGANISATION_NOT_FOUND — Organisation not visible/found. (NON_RETRYABLE)\nSESSION_NOT_FOUND — Session not found. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 404. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 404
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 404.
                enum:
                  - ALIAS_NOT_FOUND
                  - APP_PASSWORD_NOT_FOUND
                  - ATTACHMENT_NOT_FOUND
                  - AUTHZ_RESOURCE_NOT_VISIBLE
                  - FOLDER_NOT_FOUND
                  - GROUP_NOT_FOUND
                  - MAILBOX_NOT_FOUND
                  - MAIL_DOMAIN_NOT_FOUND
                  - MESSAGE_NOT_FOUND
                  - ORGANISATION_NOT_FOUND
                  - SESSION_NOT_FOUND
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E403:
      description: "ABUSE_RESTRICTED — Abuse/security restriction effective. (NON_RETRYABLE)\nAPP_PASSWORD_NOT_ALLOWED — Policy disallows app passwords. (NON_RETRYABLE)\nAUTHZ_FORBIDDEN — Principal known but action not permitted. (NON_RETRYABLE)\nENTITLEMENT_FEATURE_DISABLED — Feature not entitled. (NON_RETRYABLE)\nFORWARDING_NOT_ALLOWED — External/any forwarding disallowed by policy. (NON_RETRYABLE)\nMAILBOX_RESTRICTED — Effective restriction blocks action. (NON_RETRYABLE)\nMAILBOX_SUSPENDED — Mailbox suspended. (NON_RETRYABLE)\nSUBMISSION_SENDER_NOT_AUTHORIZED — From identity not authorized for mailbox/principal. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 403. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 403
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 403.
                enum:
                  - ABUSE_RESTRICTED
                  - APP_PASSWORD_NOT_ALLOWED
                  - AUTHZ_FORBIDDEN
                  - ENTITLEMENT_FEATURE_DISABLED
                  - FORWARDING_NOT_ALLOWED
                  - MAILBOX_RESTRICTED
                  - MAILBOX_SUSPENDED
                  - SUBMISSION_SENDER_NOT_AUTHORIZED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
    E401:
      description: "AUTH_INVALID_TOKEN — Token invalid/expired/not for this audience. (AUTH_REFRESH)\nAUTH_MFA_REQUIRED — Policy requires MFA assurance. (NON_RETRYABLE)\nAUTH_REAUTH_REQUIRED — Sensitive action requires fresh authentication. (NON_RETRYABLE)\nAUTH_REQUIRED — No authenticated principal. (NON_RETRYABLE)"
      headers:
        X-Request-ID:
          "$ref": "#/components/headers/RequestId"
      content:
        application/problem+json:
          schema:
            type: object
            description: "RFC 9457 problem details for HTTP 401. `code` is narrowed to the catalog codes that map to this status."
            required:
              - type
              - title
              - status
              - code
            properties:
              type:
                type: string
                format: uri
                description: "https://errors.karyalay.in/mail/{code}"
              title:
                type: string
              status:
                type: integer
                minimum: 100
                maximum: 599
                const: 401
              code:
                type: string
                description: A code from errors/error-catalog-v1.yaml whose default HTTP mapping is 401.
                enum:
                  - AUTH_INVALID_TOKEN
                  - AUTH_MFA_REQUIRED
                  - AUTH_REAUTH_REQUIRED
                  - AUTH_REQUIRED
              detail:
                type: string
                description: "Operator- and user-safe. Never SQL, a file path, a stack trace, an internal IP or another tenant's address (Master §23.5, Repo 1 §39)."
              request_id:
                type: string
                maxLength: 128
              trace_id:
                type: string
                pattern: "^[0-9a-f]{32}$"
              errors:
                type: array
                items:
                  "$ref": "#/components/schemas/ValidationError"
  securitySchemes:
    serviceMtls:
      type: mutualTLS
      description: "Mutually authenticated TLS between named service identities (Master §9.6, Repo 1 §29.2)."
    serviceToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Short-lived scoped workload token. `karyalay_principal_type` is `service_identity` and the token states audience and scopes (auth/claims-v1.yaml, Master §9.6). A user access token with the wrong audience or client is rejected (Repo 1 §29.2)."
