# Karyalay Mail — public control API
#
# GENERATED by tools/derive/gen_openapi.py. Do not hand-edit.
# Operations transcribed from karyalay-mail repository-spec-v1.0 Appendix C.
# Error responses generated from errors/error-catalog-v1.yaml.
# Filename fixed by Master Contract §0.3.

openapi: 3.1.0
info:
  title: "Karyalay Mail — public control API"
  version: 0.4.0
  summary: "Customer administration: organisation, entitlements, members, domains, DNS, DKIM, transfers, mailboxes, aliases, identities, groups, mailbox settings, sessions, credentials, audit, security, exports and restrictions."
  description: "Customer administration: organisation, entitlements, members, domains, DNS, DKIM, transfers, mailboxes, aliases, identities, groups, mailbox settings, sessions, credentials, audit, security, exports and restrictions.\n\n**Source:** karyalay-mail repository-spec-v1.0 §26-§27, Appendix C.1-C.65 and C.92-C.96.\n**Audience:** Browser and API clients acting for a customer principal.\n\nAppendix C is exhaustive by invariant: no undocumented route may be exposed in production. Operation count in this document is 72 and every operation carries `x-karyalay-catalog-id`, so the reconciliation against the appendix is mechanical.\n\nConventions (Repo 1 §26, Master §20): base path `/api/v1` or `/internal/v1`; snake_case JSON; RFC 3339 UTC timestamps; opaque cursor pagination; `X-Request-ID` accepted or generated and echoed; W3C `traceparent` propagated; `Idempotency-Key` on documented replay-sensitive operations; ETag/`If-Match` on documented versioned updates; `application/problem+json` errors carrying a stable `code`."
  license:
    name: "Proprietary — Karyalay"
    identifier: LicenseRef-Karyalay-Proprietary
  x-karyalay-contract: karyalay-mail-contracts
  x-karyalay-contract-version: 0.4.0
servers:
  - url: https://api.mail.karyalay.in
    description: Production.
security:
  - oidcBearer: []
tags:
  - name: Access grants
    description: "Delegated mailbox access (Repo 1 §18, Appendix A.17)."
  - name: Aliases
    description: "Alias graph and its loop/expansion invariants (Repo 1 §13)."
  - name: Audit
    description: "Tenant audit trail (Repo 1 §37.1)."
  - name: Credentials
    description: "App passwords (Repo 1 §17.2)."
  - name: Directory
    description: "Bounded organisation directory search for addressable members (D-05, ADR-KEM-010)."
  - name: Domain transfers
    description: "Controlled cross-organisation domain transfer under dual authorization (Repo 1 §10.4)."
  - name: Domains
    description: "Hosted domain lifecycle, DNS readiness and DKIM (Repo 1 §10, §11)."
  - name: Entitlements
    description: "Plan limits and feature availability. The commercial system remains source of truth (Repo 1 §9)."
  - name: Exports
    description: "Asynchronous data export jobs (Repo 1 §38)."
  - name: Groups
    description: "Distribution groups and their expansion invariants (Repo 1 §14)."
  - name: Identities
    description: "Send-as identities bound to a mailbox (Repo 1 §13.2)."
  - name: Mailbox settings
    description: "Forwarding, vacation and structured filters (Repo 1 §15)."
  - name: Mailboxes
    description: "Mailbox lifecycle, quota, usage and recovery (Repo 1 §12, §16)."
  - name: Members
    description: "Mail-related organisation membership and role assignment (Repo 1 §8, §18)."
  - name: Organisation
    description: "Organisation mail profile and activation state (Repo 1 §8)."
  - name: Restrictions
    description: "Effective restrictions on a resource (Repo 1 §36)."
  - name: Security
    description: "Tenant-visible security events (Repo 1 §37.2)."
  - name: Sessions
    description: "Mail session visibility and revocation (Repo 1 §17.1, Master §9.5)."
paths:
  "/api/v1/organisations/{org}/mail":
    get:
      operationId: getOrganisationMailProfile
      summary: "Return mail activation state, limits summary, domain/mailbox counts and safe health summary."
      description: "Return mail activation state, limits summary, domain/mailbox counts and safe health summary.\n\n**Catalog:** Appendix C C.1. **Permission:** `organisation.view`.\n\n**Notes:** Tenant-scoped; no cross-organisation IDs in aggregate links.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Organisation
      x-karyalay-catalog-id: C.1
      x-karyalay-permission: organisation.view
      parameters:
        - name: org
          in: path
          required: true
          description: "Organisation identifier (Master §6.3 `organisation_id`)."
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrganisationMailProfile"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    patch:
      operationId: updateOrganisationMailProfile
      summary: Update organisation mail defaults and supported policy knobs.
      description: "Update organisation mail defaults and supported policy knobs.\n\n**Catalog:** Appendix C C.2. **Permission:** `organisation.manage`.\n\n**Notes:** Requires If-Match; emits organisation.mail_settings_changed.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Organisation
      x-karyalay-catalog-id: C.2
      x-karyalay-permission: organisation.manage
      parameters:
        - name: org
          in: path
          required: true
          description: "Organisation identifier (Master §6.3 `organisation_id`)."
          schema:
            type: string
            format: uuid
        - name: If-Match
          in: header
          required: true
          description: "Required by this operation's Appendix C card. A stale or absent value returns VERSION_CONFLICT rather than silently overwriting (Master §20.6, §24.5)."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OrganisationMailProfileUpdate"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrganisationMailProfile"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "412":
          "$ref": "#/components/responses/E412"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/organisations/{org}/entitlements":
    get:
      operationId: getOrganisationEntitlements
      summary: Return effective entitlement snapshot and usage against limits.
      description: "Return effective entitlement snapshot and usage against limits.\n\n**Catalog:** Appendix C C.3. **Permission:** `entitlement.view`.\n\n**Notes:** Commercial system remains source of truth; response includes source_version.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Entitlements
      x-karyalay-catalog-id: C.3
      x-karyalay-permission: entitlement.view
      parameters:
        - name: org
          in: path
          required: true
          description: "Organisation identifier (Master §6.3 `organisation_id`)."
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EntitlementSnapshot"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/organisations/{org}/members":
    get:
      operationId: listOrganisationMembers
      summary: List mail-relevant memberships and assigned roles.
      description: "List mail-relevant memberships and assigned roles.\n\n**Catalog:** Appendix C C.4. **Permission:** `member.view`.\n\n**Notes:** Opaque cursor pagination.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Members
      x-karyalay-catalog-id: C.4
      x-karyalay-permission: member.view
      parameters:
        - name: org
          in: path
          required: true
          description: "Organisation identifier (Master §6.3 `organisation_id`)."
          schema:
            type: string
            format: uuid
        - "$ref": "#/components/parameters/Cursor"
        - "$ref": "#/components/parameters/Limit"
      responses:
        "200":
          description: "A bounded page. There is no fetch-all endpoint (Repo 1 §20.2)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - next_cursor
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Member"
                  next_cursor:
                    "$ref": "#/components/schemas/Cursor"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/organisations/{org}/members/{subject}/roles":
    put:
      operationId: replaceMemberRoles
      summary: Replace role assignments at organisation scope.
      description: "Replace role assignments at organisation scope.\n\n**Catalog:** Appendix C C.5. **Permission:** `member.manage_roles`.\n\n**Notes:** Cannot remove last org_owner without replacement; audited high-risk action.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Members
      x-karyalay-catalog-id: C.5
      x-karyalay-permission: member.manage_roles
      parameters:
        - name: org
          in: path
          required: true
          description: "Organisation identifier (Master §6.3 `organisation_id`)."
          schema:
            type: string
            format: uuid
        - name: subject
          in: path
          required: true
          description: OIDC subject of the member.
          schema:
            type: string
        - name: If-Match
          in: header
          required: false
          description: "Optimistic concurrency token from the resource's ETag. Honoured when supplied (Master §20.6)."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MemberRolesReplacement"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Member"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "412":
          "$ref": "#/components/responses/E412"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/organisations/{org}/domains":
    get:
      operationId: listOrganisationDomains
      summary: List hosted domains and lifecycle/DNS readiness.
      description: "List hosted domains and lifecycle/DNS readiness.\n\n**Catalog:** Appendix C C.6. **Permission:** `domain.view`.\n\n**Notes:** Cursor pagination; filters state, q.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.6
      x-karyalay-permission: domain.view
      parameters:
        - name: org
          in: path
          required: true
          description: "Organisation identifier (Master §6.3 `organisation_id`)."
          schema:
            type: string
            format: uuid
        - "$ref": "#/components/parameters/Cursor"
        - "$ref": "#/components/parameters/Limit"
        - name: state
          in: query
          required: false
          schema:
            type: string
            maxLength: 128
        - name: q
          in: query
          required: false
          description: "Free-text filter. For search operations the value is parsed to a typed AST; raw backend syntax is never interpolated (Repo 1 §21.2)."
          schema:
            type: string
            maxLength: 512
      responses:
        "200":
          description: "A bounded page. There is no fetch-all endpoint (Repo 1 §20.2)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - next_cursor
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Domain"
                  next_cursor:
                    "$ref": "#/components/schemas/Cursor"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    post:
      operationId: createDomain
      summary: Request a new hosted domain and ownership challenge.
      description: "Request a new hosted domain and ownership challenge.\n\n**Catalog:** Appendix C C.7. **Permission:** `domain.create`.\n\n**Notes:** Idempotency-Key required; reserves domain globally after validation.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.7
      x-karyalay-permission: domain.create
      parameters:
        - name: org
          in: path
          required: true
          description: "Organisation identifier (Master §6.3 `organisation_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          description: "Required by this operation's Appendix C card. Caller scope plus key maps to one request fingerprint and outcome for the retention window; the same key with a different canonical request is IDEMPOTENCY_KEY_REUSED (Master §20.5, §24.3, Repo 1 §34.1)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DomainCreateRequest"
      responses:
        "201":
          description: Created.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Domain"
        "400":
          "$ref": "#/components/responses/E400"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domains/{domain}":
    get:
      operationId: getDomain
      summary: Read hosted-domain resource.
      description: "Read hosted-domain resource.\n\n**Catalog:** Appendix C C.8. **Permission:** `domain.view`.\n\n**Notes:** Return desired/observed generation and readiness gates.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.8
      x-karyalay-permission: domain.view
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Domain"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    patch:
      operationId: updateDomain
      summary: Update allowed domain policy fields.
      description: "Update allowed domain policy fields.\n\n**Catalog:** Appendix C C.9. **Permission:** `domain.manage`.\n\n**Notes:** If-Match required; policy changes may increment desired_generation.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.9
      x-karyalay-permission: domain.manage
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
        - name: If-Match
          in: header
          required: true
          description: "Required by this operation's Appendix C card. A stale or absent value returns VERSION_CONFLICT rather than silently overwriting (Master §20.6, §24.5)."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DomainUpdate"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Domain"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "412":
          "$ref": "#/components/responses/E412"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    delete:
      operationId: deleteDomain
      summary: Begin safe domain deletion/release workflow.
      description: "Begin safe domain deletion/release workflow.\n\n**Catalog:** Appendix C C.10. **Permission:** `domain.delete`.\n\n**Notes:** 409 unless dependent resources handled per deletion policy.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.10
      x-karyalay-permission: domain.delete
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Domain"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domains/{domain}/verification/renew":
    post:
      operationId: renewDomainVerification
      summary: Rotate/renew ownership challenge.
      description: "Rotate/renew ownership challenge.\n\n**Catalog:** Appendix C C.11. **Permission:** `domain.manage`.\n\n**Notes:** Previous unverified token invalidated; raw token returned once.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.11
      x-karyalay-permission: domain.manage
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      responses:
        "201":
          description: Created.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DomainVerificationChallenge"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domains/{domain}/verification/check":
    post:
      operationId: checkDomainVerification
      summary: Request immediate ownership verification check.
      description: "Request immediate ownership verification check.\n\n**Catalog:** Appendix C C.12. **Permission:** `domain.manage`.\n\n**Notes:** Async-capable; rate limited; never trusts client-provided DNS result.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.12
      x-karyalay-permission: domain.manage
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DomainVerificationChallenge"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domains/{domain}/dns":
    get:
      operationId: getDomainDnsStatus
      summary: Return required DNS records and latest observations.
      description: "Return required DNS records and latest observations.\n\n**Catalog:** Appendix C C.13. **Permission:** `domain.view`.\n\n**Notes:** No private DKIM key material.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.13
      x-karyalay-permission: domain.view
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DomainDnsStatus"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domains/{domain}/dns/check":
    post:
      operationId: checkDomainDns
      summary: Enqueue full DNS readiness check.
      description: "Enqueue full DNS readiness check.\n\n**Catalog:** Appendix C C.14. **Permission:** `domain.manage`.\n\n**Notes:** Returns operation/job reference.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.14
      x-karyalay-permission: domain.manage
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProvisioningOperation"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domains/{domain}/activate":
    post:
      operationId: activateDomain
      summary: Request cutover from ready state to active hosted domain.
      description: "Request cutover from ready state to active hosted domain.\n\n**Catalog:** Appendix C C.15. **Permission:** `domain.manage`.\n\n**Notes:** Preconditions: ownership, required DNS, DKIM and infra generation ready.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.15
      x-karyalay-permission: domain.manage
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Domain"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domains/{domain}/suspend":
    post:
      operationId: suspendDomain
      summary: Suspend domain service according to policy.
      description: "Suspend domain service according to policy.\n\n**Catalog:** Appendix C C.16. **Permission:** `domain.manage`.\n\n**Notes:** Idempotent; audit reason required.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.16
      x-karyalay-permission: domain.manage
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ReasonRequest"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Domain"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domains/{domain}/restore":
    post:
      operationId: restoreDomain
      summary: Restore suspended domain when gates pass.
      description: "Restore suspended domain when gates pass.\n\n**Catalog:** Appendix C C.17. **Permission:** `domain.manage`.\n\n**Notes:** May trigger reconcile.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.17
      x-karyalay-permission: domain.manage
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Domain"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domains/{domain}/dkim":
    get:
      operationId: getDomainDkim
      summary: "Return selectors, public DNS values and lifecycle metadata."
      description: "Return selectors, public DNS values and lifecycle metadata.\n\n**Catalog:** Appendix C C.18. **Permission:** `domain.view`.\n\n**Notes:** Never returns private_key_ref to non-platform clients.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.18
      x-karyalay-permission: domain.view
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DkimState"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domains/{domain}/dkim/rotate":
    post:
      operationId: rotateDomainDkim
      summary: Begin safe DKIM rotation.
      description: "Begin safe DKIM rotation.\n\n**Catalog:** Appendix C C.19. **Permission:** `domain.dkim_rotate`.\n\n**Notes:** Idempotency-Key required; overlap old/new signing/verification window.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.19
      x-karyalay-permission: domain.dkim_rotate
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          description: "Required by this operation's Appendix C card. Caller scope plus key maps to one request fingerprint and outcome for the retention window; the same key with a different canonical request is IDEMPOTENCY_KEY_REUSED (Master §20.5, §24.3, Repo 1 §34.1)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DkimRotateRequest"
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DkimState"
        "400":
          "$ref": "#/components/responses/E400"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domains/{domain}/transfer":
    post:
      operationId: requestDomainTransfer
      summary: Start controlled transfer to another organisation.
      description: "Start controlled transfer to another organisation.\n\n**Catalog:** Appendix C C.20. **Permission:** `domain.manage`.\n\n**Notes:** Dual approval; no silent tenant reassignment.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domains
      x-karyalay-catalog-id: C.20
      x-karyalay-permission: domain.manage
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DomainTransferRequest"
      responses:
        "201":
          description: Created.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DomainTransfer"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domain-transfers/{transfer}":
    get:
      operationId: getDomainTransfer
      summary: Read transfer workflow status.
      description: "Read transfer workflow status.\n\n**Catalog:** Appendix C C.21. **Permission:** `domain.view`.\n\n**Notes:** Visible only to involved authorised organisations/platform.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domain transfers
      x-karyalay-catalog-id: C.21
      x-karyalay-permission: domain.view
      parameters:
        - name: transfer
          in: path
          required: true
          description: Domain transfer operation identifier.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DomainTransfer"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domain-transfers/{transfer}/approve":
    post:
      operationId: approveDomainTransfer
      summary: Approve transfer from an authorised side.
      description: "Approve transfer from an authorised side.\n\n**Catalog:** Appendix C C.22. **Permission:** `domain.manage`.\n\n**Notes:** Strong re-auth; records evidence and actor.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domain transfers
      x-karyalay-catalog-id: C.22
      x-karyalay-permission: domain.manage
      parameters:
        - name: transfer
          in: path
          required: true
          description: Domain transfer operation identifier.
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DomainTransfer"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domain-transfers/{transfer}/cancel":
    post:
      operationId: cancelDomainTransfer
      summary: Cancel transfer before cutover.
      description: "Cancel transfer before cutover.\n\n**Catalog:** Appendix C C.23. **Permission:** `domain.manage`.\n\n**Notes:** Not permitted after irreversible cutover step.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Domain transfers
      x-karyalay-catalog-id: C.23
      x-karyalay-permission: domain.manage
      parameters:
        - name: transfer
          in: path
          required: true
          description: Domain transfer operation identifier.
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DomainTransfer"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/organisations/{org}/mailboxes":
    get:
      operationId: listOrganisationMailboxes
      summary: List mailboxes and metadata.
      description: "List mailboxes and metadata.\n\n**Catalog:** Appendix C C.24. **Permission:** `mailbox.view`.\n\n**Notes:** Cursor pagination; filters domain/state/search; no usage snapshots by default.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Organisation
      x-karyalay-catalog-id: C.24
      x-karyalay-permission: mailbox.view
      parameters:
        - name: org
          in: path
          required: true
          description: "Organisation identifier (Master §6.3 `organisation_id`)."
          schema:
            type: string
            format: uuid
        - "$ref": "#/components/parameters/Cursor"
        - "$ref": "#/components/parameters/Limit"
        - name: domain_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: state
          in: query
          required: false
          schema:
            type: string
            maxLength: 128
        - name: q
          in: query
          required: false
          description: "Free-text filter. For search operations the value is parsed to a typed AST; raw backend syntax is never interpolated (Repo 1 §21.2)."
          schema:
            type: string
            maxLength: 512
      responses:
        "200":
          description: "A bounded page. There is no fetch-all endpoint (Repo 1 §20.2)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - next_cursor
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Mailbox"
                  next_cursor:
                    "$ref": "#/components/schemas/Cursor"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    post:
      operationId: createMailbox
      summary: Create desired mailbox resource.
      description: "Create desired mailbox resource.\n\n**Catalog:** Appendix C C.25. **Permission:** `mailbox.create`.\n\n**Notes:** Idempotency-Key required; atomic address reservation + mailbox desired state + outbox.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Organisation
      x-karyalay-catalog-id: C.25
      x-karyalay-permission: mailbox.create
      parameters:
        - name: org
          in: path
          required: true
          description: "Organisation identifier (Master §6.3 `organisation_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: true
          description: "Required by this operation's Appendix C card. Caller scope plus key maps to one request fingerprint and outcome for the retention window; the same key with a different canonical request is IDEMPOTENCY_KEY_REUSED (Master §20.5, §24.3, Repo 1 §34.1)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MailboxCreateRequest"
      responses:
        "201":
          description: Created.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Mailbox"
        "400":
          "$ref": "#/components/responses/E400"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}":
    get:
      operationId: getMailbox
      summary: Read mailbox metadata and readiness.
      description: "Read mailbox metadata and readiness.\n\n**Catalog:** Appendix C C.26. **Permission:** `mailbox.view`.\n\n**Notes:** Includes desired/observed generation, current restrictions and quota summary as authorized.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Mailboxes
      x-karyalay-catalog-id: C.26
      x-karyalay-permission: mailbox.view
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Mailbox"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    patch:
      operationId: updateMailbox
      summary: Update display name and allowed mailbox metadata.
      description: "Update display name and allowed mailbox metadata.\n\n**Catalog:** Appendix C C.27. **Permission:** `mailbox.manage`.\n\n**Notes:** If-Match required.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Mailboxes
      x-karyalay-catalog-id: C.27
      x-karyalay-permission: mailbox.manage
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: If-Match
          in: header
          required: true
          description: "Required by this operation's Appendix C card. A stale or absent value returns VERSION_CONFLICT rather than silently overwriting (Master §20.6, §24.5)."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MailboxUpdate"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Mailbox"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "412":
          "$ref": "#/components/responses/E412"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    delete:
      operationId: deleteMailbox
      summary: Begin deletion and recovery-window workflow.
      description: "Begin deletion and recovery-window workflow.\n\n**Catalog:** Appendix C C.31. **Permission:** `mailbox.delete`.\n\n**Notes:** Does not hard-delete immediately.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Mailboxes
      x-karyalay-catalog-id: C.31
      x-karyalay-permission: mailbox.delete
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Mailbox"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/quota":
    patch:
      operationId: updateMailboxQuota
      summary: Set configured mailbox quota within entitlement/platform bounds.
      description: "Set configured mailbox quota within entitlement/platform bounds.\n\n**Catalog:** Appendix C C.28. **Permission:** `mailbox.manage`.\n\n**Notes:** Increments generation; actual enforcement acknowledged asynchronously.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Mailboxes
      x-karyalay-catalog-id: C.28
      x-karyalay-permission: mailbox.manage
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: If-Match
          in: header
          required: false
          description: "Optimistic concurrency token from the resource's ETag. Honoured when supplied (Master §20.6)."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MailboxQuotaUpdate"
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Mailbox"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "412":
          "$ref": "#/components/responses/E412"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/suspend":
    post:
      operationId: suspendMailbox
      summary: Suspend mailbox authentication/sending/receiving per suspension policy.
      description: "Suspend mailbox authentication/sending/receiving per suspension policy.\n\n**Catalog:** Appendix C C.29. **Permission:** `mailbox.suspend`.\n\n**Notes:** Reason mandatory; idempotent.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Mailboxes
      x-karyalay-catalog-id: C.29
      x-karyalay-permission: mailbox.suspend
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ReasonRequest"
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Mailbox"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/restore":
    post:
      operationId: restoreMailbox
      summary: Restore a suspended mailbox.
      description: "Restore a suspended mailbox.\n\n**Catalog:** Appendix C C.30. **Permission:** `mailbox.suspend`.\n\n**Notes:** Fails if org/domain/restrictions prevent restoration.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Mailboxes
      x-karyalay-catalog-id: C.30
      x-karyalay-permission: mailbox.suspend
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Mailbox"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/recover":
    post:
      operationId: recoverMailbox
      summary: Recover mailbox during recovery window.
      description: "Recover mailbox during recovery window.\n\n**Catalog:** Appendix C C.32. **Permission:** `mailbox.delete`.\n\n**Notes:** Fails after recovery_expires_at or if address has been irreversibly released.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Mailboxes
      x-karyalay-catalog-id: C.32
      x-karyalay-permission: mailbox.delete
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      responses:
        "202":
          description: "Accepted for asynchronous processing. 202 is used only with an explicit status resource, never to conceal a failed synchronous validation (Repo 1 §39.1)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Mailbox"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/usage":
    get:
      operationId: getMailboxUsage
      summary: Return latest observed mailbox usage and freshness.
      description: "Return latest observed mailbox usage and freshness.\n\n**Catalog:** Appendix C C.33. **Permission:** `mailbox.view`.\n\n**Notes:** May return stale=true rather than synchronously query backend.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Mailboxes
      x-karyalay-catalog-id: C.33
      x-karyalay-permission: mailbox.view
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
            ETag:
              "$ref": "#/components/headers/ETag"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MailboxUsage"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/access-grants":
    get:
      operationId: listMailboxAccessGrants
      summary: List mailbox delegation grants.
      description: "List mailbox delegation grants.\n\n**Catalog:** Appendix C C.34. **Permission:** `mailbox.manage`.\n\n**Notes:** Sensitive authorization metadata.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Access grants
      x-karyalay-catalog-id: C.34
      x-karyalay-permission: mailbox.manage
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - "$ref": "#/components/parameters/Cursor"
        - "$ref": "#/components/parameters/Limit"
      responses:
        "200":
          description: "A bounded page. There is no fetch-all endpoint (Repo 1 §20.2)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - next_cursor
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/MailboxAccessGrant"
                  next_cursor:
                    "$ref": "#/components/schemas/Cursor"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    post:
      operationId: createMailboxAccessGrant
      summary: Create bounded mailbox access grant.
      description: "Create bounded mailbox access grant.\n\n**Catalog:** Appendix C C.35. **Permission:** `mailbox.manage`.\n\n**Notes:** Scopes allow-listed; optional expiry; self-escalation prohibited.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Access grants
      x-karyalay-catalog-id: C.35
      x-karyalay-permission: mailbox.manage
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MailboxAccessGrantRequest"
      responses:
        "201":
          description: Created.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MailboxAccessGrant"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/mailboxes/{mailbox}/access-grants/{grant}":
    delete:
      operationId: deleteMailboxAccessGrant
      summary: Revoke mailbox access grant.
      description: "Revoke mailbox access grant.\n\n**Catalog:** Appendix C C.36. **Permission:** `mailbox.manage`.\n\n**Notes:** Immediate control-plane revocation; session/delegation caches invalidated.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Access grants
      x-karyalay-catalog-id: C.36
      x-karyalay-permission: mailbox.manage
      parameters:
        - name: mailbox
          in: path
          required: true
          description: "Mailbox identifier (Master §6.3 `mailbox_id`)."
          schema:
            type: string
            format: uuid
        - name: grant
          in: path
          required: true
          description: Mailbox access grant identifier.
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: "Deleted. The operation is idempotent: repeating it on an already-absent resource is not an error."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/domains/{domain}/aliases":
    get:
      operationId: listDomainAliases
      summary: List aliases on a hosted domain.
      description: "List aliases on a hosted domain.\n\n**Catalog:** Appendix C C.37. **Permission:** `alias.view`.\n\n**Notes:** Cursor pagination.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Aliases
      x-karyalay-catalog-id: C.37
      x-karyalay-permission: alias.view
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
        - "$ref": "#/components/parameters/Cursor"
        - "$ref": "#/components/parameters/Limit"
      responses:
        "200":
          description: "A bounded page. There is no fetch-all endpoint (Repo 1 §20.2)."
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - next_cursor
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Alias"
                  next_cursor:
                    "$ref": "#/components/schemas/Cursor"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
    post:
      operationId: createAlias
      summary: Create alias and targets.
      description: "Create alias and targets.\n\n**Catalog:** Appendix C C.38. **Permission:** `alias.manage`.\n\n**Notes:** Atomic address registry reservation; loop and expansion validation.\n\n**Validation order:** Authentication → tenant/object visibility → permission/state/entitlement/restriction → request validation → concurrency/idempotency → transaction/external effect (Repo 1 Appendix C).\n\n**Audit:** All administrative/security/destructive mutations; ordinary mailbox reads only as privacy/security policy requires.\n**Events:** Emit named domain event when Appendix D defines semantic change; outbox in same transaction.\n**Errors:** Only Appendix E stable codes applicable to path; validation details are structured and bounded.\n**Rate/size:** Endpoint-specific platform/tenant limits; arrays/pages/uploads are hard bounded."
      tags:
        - Aliases
      x-karyalay-catalog-id: C.38
      x-karyalay-permission: alias.manage
      parameters:
        - name: domain
          in: path
          required: true
          description: "Hosted domain identifier (Master §6.3 `domain_id`)."
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: "Honoured when supplied (Master §20.5)."
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AliasWrite"
      responses:
        "201":
          description: Created.
          headers:
            X-Request-ID:
              "$ref": "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Alias"
        "401":
          "$ref": "#/components/responses/E401"
        "403":
          "$ref": "#/components/responses/E403"
        "404":
          "$ref": "#/components/responses/E404"
        "409":
          "$ref": "#/components/responses/E409"
        "413":
          "$ref": "#/components/responses/E413"
        "415":
          "$ref": "#/components/responses/E415"
        "422":
          "$ref": "#/components/responses/E422"
        "429":
          "$ref": "#/components/responses/E429"
        "500":
          "$ref": "#/components/responses/E500"
        "503":
          "$ref": "#/components/responses/E503"
  "/api/v1/aliases/{alias}":
    get:
      operationId: getAlias
      summary: Read alias configuration.
[...]
